nav.inpage ul li a {
    padding: 16px 28px 16px 29px;
}
nav.inpage ul li.last a {
    padding: 16px 32px 16px 32px;
}

.availability-selector,
.profile .user-ratings,
.message-listing,
.bookings-grid,
.payment-history article
{
	-webkit-box-shadow: 1px 1px #ccc inset;
	   -moz-box-shadow: 1px 1px #ccc inset;
			box-shadow: 1px 1px #ccc inset; 
}


span.ta-lg, span.ta, .data-input fieldset span.ta-lg, .data-input fieldset span.ta
{
	-webkit-box-shadow: 1px 1px 0 0 #ddd inset;
	   -moz-box-shadow: 1px 1px 0 0 #ddd inset;
			box-shadow: 1px 1px 0 0 #ddd inset; 

}

#loadindicator
{
	background: none!important;
	display: block!important;
}

#loadindicator img
{
	display: block!important;
}

.bookings-grid
{
	max-height: none;
}