/*
 * Author: 
 * Agency: Soak Digital Ltd.
 * Project: 
 * Comment: User Base stylesheet
 Included for user area of the site.

----------------------
Contents:

TBC

/*--------------------------------------------------------------------------
	=Font sizing
----------------------------------------------------------------------------*/

body { font: 12px/1.231 sans-serif; }
select, input, textarea, button { font: 99% sans-serif; }

.rates .price-matrix li em
{
	font-size: 4em;	/* 12 x 4 = 48px */
}

.set-price em, .set-price input
{
	font-size: 3.7em;	/* 12 x 4 = 48px */
}

#my-car .price strong,
#last-viewed .price strong {
	font-size: 3em;	/* 12 x 3 = 36px */
}

.layout-f .panel .availability-selector h2,
#add-vehicle section ul li em, #add-vehicle .plate {
	font-size: 2em;	/* 12 x 2 = 24px */
}

.pt22 {
	font-size: 1.83em;	/* 12 x 1.83 = 22px */
}

.pt20,
.layout-f form .panel-b h2,
form.layout-f .panel-b h2,
.tips h2,
#block-dates h2,
.bookings-grid hgroup,
#rent-your-car h2, #my-car #tips h3, #add-vehicle h2 {
	font-size: 1.67em;	/* 12 x 1.67 = 20px */
}

.pt18,
.vehicle-details h2,
.rates h3,
.detail-benefits h3,
.availability-selector ul h3,
.availability-selector .headline p,
#dashboard .panel-b li a,
.bookings-grid .data-block h3{
	font-size: 1.5em;	/* 12 x 1.5 = 18px */
}

.pt16,
.update-vehicle .panel-a p,
.masthead h2,
.user-ratings .headings,
.payment-history .payments .headings,
.message-listing .headings,
.bookings-grid .headings,
.welcome-rentacar label,#support-message {
	font-size: 1.33em;	/* 12 x 1.33 = 16px */
}


.vehicle-details .user-data,
.maintenance label,
.availability-selector ul p,
.layout-d fieldset h2,
.payment form h2,
#dashboard .panel-b li a,
.profile .user-data, .profile label, ul.tabs li
{
	font-size: 1.25em;	/* 12 x 1.25 = 15px */
}

.pt14,
.rates h4,
.layout-f form .panel-b .user-data,
.photo-block .upload label,
.photo-block .master p,
.photo-block .thumbs p,
.availability-detail label,
#facebook-connected .details,
#facebook-connected .details em, 
.payment form label,
.bookings-grid .data-block, 
.details label,#my-car section h2,#last-viewed section h2, #add-vehicle p
{
	font-size: 1.167em;	/* 12 x 1.167 = 14px */
}

.pt13,
#block-dates p.action,
.profile .hint
{
	font-size: 1.1em;	/* 12 x 1.1 = 13.2px */
}


.pt12 {
	font-size: 1em;	/* 12 x 1 = 12px */
}

.rates .note,
.remaining,
#setPrice .note,
#dashboard .panel-a li,
#dashboard .panel-a li em, #my-car .price em, #last-viewed .price em {
	font-size: 0.92em;	/* 12 x 0.92 = 11px */
}

#add-vehicle p strong
{
	font-size: 0.833em;	/* 12 x 0.83 = 10px */
}

/*--------------------------------------------------------------------------
	=Generic HTML
----------------------------------------------------------------------------*/

.rates h4, .maintenance label,
.update-vehicle .panel-a p, .photo-block .upload label,
.photo-block .master p,
.availability-detail label, #block-dates p.action,
.headline *,
#dashboard .panel-b li a, #facebook-connected, .profile label,
.user-ratings .headings,
.payment-history .payment .headings,
.message-listing .headings,
.bookings-grid .headings, .welcome-rentacar label, .profile .hint,#support-message, #my-car .price, #last-viewed .price, #add-vehicle p
{
	font-family:'VAG Rounded W01 Light', Arial, Helvetica, sans-serif;	
}

.fontheavy,
.rates .price-matrix li em , .set-price em, .set-price input, #dashboard .panel-b li .notification, #add-vehicle section ul li em
{
	font-family:'VAG Rounded W01 Bold', Arial, Helvetica, sans-serif;
}

#my-car section h2, #my-car .price em, #last-viewed .price em, #last-viewed section h2, #add-vehicle p strong
{
	font-family: Arial, Helvetica, sans-serif;
}

.tips
{
    border: 1px solid #ddd;
    border-radius: 15px 15px 15px 15px;
    color: #666;
	padding:15px;
}

.profile .hint
{
    border-radius: 15px 15px 15px 15px;
}

.availability-selector,
.profile .user-ratings,
.message-listing,
.bookings-grid,
.payment-history article,
#support-message
{
	padding:15px 15px 15px 20px;
	-webkit-box-shadow: 1px 2px #ccc inset;
	   -moz-box-shadow: 1px 2px #ccc inset;
			box-shadow: 1px 2px #ccc inset; 
			border-radius: 15px;
	background:#fff;
	clear:both;	
	margin: 20px 0;
	color:#666;
}

/* Vehicle Details (within my car section of admin) */

.availability-selector ul h3,
.availability-selector ul p,
.availability-selector ul .definedTimes
{
	float:left;
	width:120px;
	padding:5px 20px 5px 0;
	margin:0;
}

.availability-selector ul.interactive
{
	width:810px;
	background:url(../images/user/bg-slider-times.png) 93% 35px no-repeat;	
	margin-bottom: 30px;
}

.availability-selector ul *
{
	line-height:1em;
}

.availability-selector .headline
{
	margin-bottom: 25px;
}

.availability-selector .headline h3
{
	color:#333;
}
.availability-selector ul h3
{
	color:#009246;
}

.availability-selector ul p
{
	width:80px;
	text-align:center;
}

.availability-selector ul .definedTimes
{
	text-align:left;
	width:550px;
}

.slider-range
{
	margin:5px 0 0;	
}


.ui-slider-range { background: #A8D471!important; }
.ui-slider-range { position: static; overflow:hidden; }
.secondary .ui-slider-range { background: #40AD75!important; }
.ui-slider-handle { background: #E7E7E7 url(../images/user/bg-slider.png) 50% 50% no-repeat!important;}
.ui-slider-disabled .ui-slider-range  { background: #ccc!important;}
.ui-slider-disabled {opacity: 0.3!important;}

.ui-slider-range .unavailable-range { background: #f1f1f1!important; position:absolute; top:0; height:100%; display:block; z-index:1; 
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}




/* Expandable Panel Styles */

#loadindicator
{
	background: url(../images/bg-upload-loader.gif) 0 0 no-repeat;
	display: none;
}

#loadindicator img
{
	display: none!important;
}

#container section.expandable
{
	padding-bottom: 30px;
}

.expandable fieldset,
.expandable .inner
{
	position:relative;
	padding:20px 0 30px;
}

.expandable .inner fieldset /* Js added FF fix, as FF does not honor overflow hidden on fieldset elemement*/
{
	position:static;
	padding:0;
}

section.expandable h1
{
	margin: 15px 0 0;	
}

section.contracted h1 a,
section.expanded h1 a
{
	padding-left: 60px;
	position:relative;
}

section.contracted h1 a em,
section.expanded h1 a em
{
	width:41px;
	height:41px;
	background:url(../images/user/bg-panel-actions.png) 0 0 no-repeat;
	position:absolute;
	top:0;
	left:0;
	display:block;
	text-indent:-9999px;
}

section.contracted h1 a em
{
	background-position: 0 -41px;
}

.contracted .inner
{
	display:none;	
}

.contracted .inner fieldset
{
	display:block;	
}





/* Edit Vehicle Styles *********************************************************** */

.update-vehicle h2
{
	clear:both;	
}

.update-vehicle input.btn
{
	position: absolute;
	bottom:-10px;
	right:0;
}

/* Hints / Tips Panel Styles */
.tips
{
	float:right;
	width:160px;
	background:#fff;
}

.photo-tip
{
	padding-bottom:80px;
	background:#fff url(../images/user/bg-photo-tips.png) 50% 90% no-repeat;
}

.tips h2
{
	color:#00b5d1;
	background:url(../images/bg-booking-icons.png) 0 -181px no-repeat;
	padding:4px 0 10px 40px;
}



/* Vehicle Details Panel ------------------------------------------ */

/* Overwrite generic User Data 
Styles for this instance */
.update-vehicle .user-data
{
	float:left;
	width:270px;
	border-right:1px solid #ddd;
}

.update-vehicle .user-data em
{
	width: 145px;
	padding-right:10px;
}

.further-detail
{
	float:left;
	width:385px;
	margin-left:20px;
}

.further-detail p
{
	margin-bottom:0;
}

.features,
.maintenance
{
	width:370px;
}

.maintenance label
{
	display:block;
	float:left;
	margin: 10px 10px 10px 0;
	width:245px;
}

.maintenance .md
{
	float:left;
}

.maintenance
{
	border-bottom: 1px solid #ccc;
	margin-bottom:10px;
}

.features label
{
	margin-bottom: 8px;
	display:block;
}

.features .options label
{
	width: 180px;
	float:left;
}

.features .options label input
{
	margin-right:10px;
}

/* Vehicle Introduction Panel ------------------------------------------ */
.remaining
{
	clear:left;
	padding:10px 5px 0;
	margin-bottom:0;
}

/* Vehicle Photos Panel ------------------------------------------ */
.photo-block
{
	width: 650px;	
}

.photo-block .upload
{
	width:409px;
	float:left;
	margin-bottom:10px;
}

.photo-block .upload input
{
	margin-bottom:8px;
	display:block;
}



.photo-block .upload label,
.photo-block .master p,
.photo-block .thumbs p
{
	display:block;
	margin-bottom:8px;
}

.photo-block .master
{
	float:left;
	margin-bottom:10px;
}

.photo-block .thumbs
{
	clear:left;	
	margin-top:10px;
	padding-top:10px;
	border-top:1px dotted #ccc;
}

.photo-block .thumbs li
{
	width:125px;
	float:left;
	position:relative;
}

.photo-block .thumbs .remove
{
	display:block;
	width:18px;
	height:18px;
	background:url(../images/user/bg-remove.png) 0 0 no-repeat;
	text-indent:-9999px;
	position:absolute;
	top:3px;
	right:13px;
}

/* Vehicle Locations and Times Panel ------------------------------------------ */
.primary-location
{
	width: 385px;
	float:left;
	padding: 0 20px;
	margin:20px 0;
}

.primary-location p,
.secondary-location p
{
	line-height: 2em;
}

.secondary-location
{
	border-left:1px solid #ccc;
	width: 385px;
	float:left;
	padding: 0 20px;
	margin:20px 0;
}

.secondary-location .lookup label
{
	display:block;
	margin-bottom:5px;
}

.secondary-location .lookup .md
{
	margin-bottom:0!important;
}

.secondary-location .lookup
{
	margin-bottom: 20px;	
}

.availability-detail
{
	padding-left: 240px;	
}

.availability-detail p
{
	clear:left;	
}

.availability-detail label
{
	float:left;
	margin-right:10px;
	display:block; 
	width:160px;
	clear:left;
	margin-bottom:20px;
	padding-top:6px;
}

.availability-detail .select,
.availability-detail input
{
	float:left;
	margin-bottom:20px;
}

/* Block dates Calender ----------------------*/
/* AVAILABILITY CALENDER STYLES */
#block-dates h2
{
	position:relative;
	padding:0 20px;
	float:left;
}

#block-dates h2 .action
{
	display:block;
	height:22px;
	width:11px;
	background:url(../images/user/bg-cal-actions.png) 0 0 no-repeat;
	text-indent:-9999px;
	position:absolute;
	top:3px;
}

#block-dates h2 .next
{
	right:0;
	background-position: -19px 0;
}

#block-dates h2 .prev
{
	left:0;
}

#block-dates h2 span.next
{
	background-position: -19px -22px;
}

#block-dates h2 span.prev
{
	background-position: 0 -22px;
}

#block-dates .cal
{
	clear:both;
	padding:10px 0;
}

#block-dates .cal table
{
	border-collapse:separate; 
	border-spacing: 2px; 
}

#block-dates .cal th
{
	width: 84px;
}

#block-dates .cal td
{
	width: 64px;
	height:82px;
	background: url(../images/user/bg-cal.png) 0 0 no-repeat;
	text-align:right;
	padding:2px 10px;
	color:#666;
}

#block-dates .cal td.empty
{
	background-position: -84px 0;	
}

#block-dates .cal td input
{
	display:block;
	margin:20px 0 0 24px;
}

#block-dates p.action
{
	margin:20px 0 0;
}

#block-dates p.action input
{
	float:right;
}

/* JS Overlay Variation of above calender styles */

#dialog-modal #block-dates .cal td input
{
	position:absolute;
	top:-9999px;
	height:-9999px;
}

#dialog-modal #block-dates .cal td.available
{
	background-position: -168px 0;	
	cursor:pointer;
}

#dialog-modal #block-dates .cal td.notavailable
{
	background-position: -252px 0;	
	cursor:pointer;
}

/* Pricing Panel ------------------------------------------ */

#setPrice p
{
	margin:0;	
}

#setPrice li
{
	padding:0;
	margin:0;
	border:0;
	width:210px;
	float:left;
}

#setPrice .set-price em,
.set-price input
{
	color:#009246;
}

#setPrice .set-price em
{
	display:block;
	float:left;
	margin:20px 10px 0 0;
}

#setPrice .set-price .unit
{
	display:block;
	float:left;
	margin:30px 0 0;
}

#setPrice .set-price span.price
{
	background:url(../images/user/bg-price.png) 0 0 no-repeat;
	padding:0 5px;
	height:56px;
	width:86px;
	display:block;
	float:left;
}

#setPrice .set-price span.price input
{
	background:none!important;
	height: 56px;
}

#setPrice .action,
#setPrice .reset
{
	width:25px;
	height:26px;
	display:block;
	text-indent:-9999px;
	background:url(../images/user/bg-plus-minus.png) 0 0 no-repeat;
	margin:5px 0 5px 67px;
	overflow:hidden;
	display:none;
}

#setPrice .minus
{
	background-position: 0 -26px;
}

#setPrice .reset
{
	margin: 10px 0 10px 23px;
	width:120px;
	height:25px;
}

#setPrice .note
{
	text-align:center;
	width:170px;
}

.set-price input
{
	width:76px;
	height:46px;
}

.update-vehicle .form-actions
{
	margin-left: 150px;	
}


.account-vehicles_delete .update-vehicle .form-actions,
.account-vehicles_edit .update-vehicle .form-actions
{
	margin-left: 0;	
}

.update-vehicle .form-actions input
{
	float:left;
	margin-right:5px;
}

.update-vehicle .form-actions input.unpublish-car,
.update-vehicle .form-actions input.publish-car,
.update-vehicle .form-actions input.remove-car
{
	float:right;
	margin-right:0;
}

/*--------------------------------------------------------------------------
	=Dashboard Styles
----------------------------------------------------------------------------*/
#notification
{
	height: 395px;
}

#dashboard #notification
{
	overflow:scroll;
}

#notification.user-required a
{
	font-style: normal;
	text-decoration: underline;
}

#support-message
{
	margin: 0 0 20px;
}

#dashboard .panel-a ul
{
	width:290px;
	margin-top:10px;
}

#dashboard .panel-a li
{
	border-bottom: 	1px dotted #ccc;
	padding:0 0 12px 60px;
	margin-bottom:12px;
	color:#333;
	font-style:italic;
	background:url(../images/user/bg-dash-icons.png) 0 0 no-repeat; /* tick Icon */
	max-height:70px;
	overflow:hidden;
}

#notification.user-required li
{
	font-style: normal;
}


#dashboard .panel-a li.seller_denied,
#dashboard .panel-a li.request_from_buyer,
#dashboard .panel-a li.bacs_payment_failure,
#dashboard .panel-a li.rental_payment_failure
{
	background-position: 0 -90px; /* Questionmark Icon */
}

#dashboard .panel-a li.message_from_user 
{
	background-position: 0 -179px; /* Message Icon */
}

#dashboard .panel-a li.profile 
{
	background-position: 0 -819px; /* Message Icon */
}

#dashboard .panel-a li.generic 
{
	background-position: 0 -932px; /* Message Icon */
}

#dashboard .panel-a li p
{
	margin:0;
}

#notification.user-required li p
{
	margin-bottom: 5px;
}

#dashboard .panel-a li em
{
	display:block;
}

#dashboard #rent-your-car, #dashboard #rent-a-car
{
	width: 475px;
	height: 143px;
	margin-bottom: 30px;
	position: relative;
	padding-top: 15px;
}

#dashboard #rent-your-car .button, #dashboard #rent-a-car .button
{
	position: absolute;
	bottom: 15px;
	right: 15px;
}

#dashboard #rent-your-car
{
	height:179px;
}

#dashboard #rent-your-car .reg input
{
	border: none;
}

#rent-your-car h2
{
	margin: 0 0 8px;
	color: #666;
}


#rent-your-car article
{
	padding: 10px 0;
}

#rent-your-car article img
{
	float:left;
	margin-right: 20px;
}


#rent-your-car article h2 em,
#add-vehicle section ul li em
{
	color:#00b5d1;
	display: block;
}

#my-car
{
	margin-bottom: 20px;
}

#my-car img, #my-car section, #last-viewed img, #last-viewed section
{
	float: left;
}

#last-viewed
{
	margin-bottom: 20px;
	background: #FFF url(../images/user/bg-last-viewed.png) 50% 100% no-repeat;
	padding-bottom: 15px;
}

#add-vehicle h1,
#last-viewed h1
{
	margin-bottom: 5px;
}

#add-vehicle
{
	margin-bottom: 30px;
}

#add-vehicle section ul
{
	border: 1px solid #ccc;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
}

#add-vehicle section ul li
{
	float: left;
	padding: 3px 22px 0;
	text-align: center;
	margin-bottom: 0;
	border-right: 1px dotted #ccc;
}

#add-vehicle section ul li.last
{
	border-right: none;
}

#add-vehicle section ul li em
{
	padding-bottom: 5px;
}

#add-vehicle
{
	position: relative;
}

#add-vehicle section
{
	float: right;
	width: 310px;
}

#add-vehicle .plate
{
	background: url(../images/user/bg-add-vehicle.png) 0 0 no-repeat;
	position: absolute;
	top: 60px;
	left: 0;
	font-weight: bold;
	padding: 50px 30px 26px 49px;
	width: 115px;
}

#add-vehicle .change
{
	position: absolute;
	top: 170px;
	left: 12px;
}

#add-vehicle .change a
{
	text-decoration: underline;
}

#last-viewed ul
{
	clear: left;
	float: right;
	margin-top: 5px;
}

#last-viewed ul li
{
	float: left;
}

#last-viewed ul li.first
{
	margin-right: 30px;
}

#my-car
{
	position: relative;
}

#my-car .indicator
{
	top:14px;
	right: auto;
	left: 177px;
}

#my-car section,
#last-viewed section
{
	width: 178px;
	margin-left: 15px;
	border-right: 1px solid #ccc;
	margin-bottom: 15px;
}

#last-viewed section
{
	margin-bottom: 5px;
}

#my-car section
{
	min-height: 90px;
}

#my-car section.edit,
#last-viewed .price
{
	width: 125px;
	border: none;
}

#last-viewed .price
{
	padding-top: 12px;
}

#my-car section h2,
#last-viewed section h2
{
	font-weight: bold;
	margin: 0 0 5px;
	color: #666;
	padding-right: 10px;
}

#my-car section .button
{
	float: left;
	position: relative;
}

#my-car section.edit h3
{
	margin:0;
	font-size: 1.2em;
	position: absolute;
	top: 14px;
	right:81px;
}

#my-car section.edit ul li
{
	margin-bottom: 4px;
}

#my-car section.edit ul a
{
	margin:0;
	font-size: 1em;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

#my-car section.edit ul li.error a
{
	color:#CC0000;
}

#my-car .price,
#last-viewed .price
{
	color: #666;
	text-align: center;
}

#my-car .price p,
#last-viewed .price p
{
	margin-bottom: 5px;
}

#my-car .price strong,
#last-viewed .price strong
{
	color: #009246;
}

#my-car .price em,
#last-viewed .price em
{
	color: #333;
	display: block;
}

#last-viewed .rating
{
	clear: left;
	float: left;
}
#last-viewed .rating em
{
	float: none;
	margin-bottom: 4px;
}

#my-car #tips
{
	background: #fff;
	clear: both;
	margin-top: 15px;
	padding:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

#my-car #tips h3
{
	background:url(../images/user/bg-tips.png) 0 0 no-repeat; /* tick Icon */
	padding-left: 31px;
	margin-bottom: 5px;
	color: #009246;
}

#my-car #tips p
{
	margin-bottom: 0;
}

/*--------------------------------------------------------------------------
	=Details Styles 
----------------------------------------------------------------------------*/
.details fieldset h2
{
	color:#00b5d1;
	padding-bottom:10px;
	margin-bottom:20px;
	border-bottom:1px dotted #ccc;
}

.details fieldset
{
	margin-bottom: 20px;
}

.details .form-actions
{
	clear:both;
}

.details .form-actions .save-changes
{
	margin:auto;
}

#facebook-connected
{
	background: #E1E0E0 url(../images/grad-d.png) 0 0 repeat-x;	
	border:1px solid #ddd;
	border-radius:15px;
	-webkit-box-shadow: 0px 1px #ccc;
	   -moz-box-shadow: 0px 1px #ccc;
			box-shadow: 0px 1px #ccc; 
	padding: 20px;
}

#facebook-connected div
{
	float:right;
	width:300px;
	padding-right:0;
	margin:0;
}

#facebook-connected div p
{
	margin:0;
}

#facebook-connected .details
{
	border-bottom: 1px solid #ccc;
	margin-bottom:10px;
	padding-bottom:10px;
	background:url(../images/user/bg-fb.png) 0 0 no-repeat;
	padding-left:45px;
}

#facebook-connected .details em
{
	display:block;
}

/*--------------------------------------------------------------------------
	=Payment Details Styles
----------------------------------------------------------------------------*/

.payment form
{
	margin-bottom: 30px;	
}

.payment fieldset
{
	margin-bottom: 20px;	
	padding: 0 40px;
	min-height:520px;
}

.payment .data-input fieldset label,
.payment .data-input fieldset span {
    float: none;
}


.payment .data-input fieldset .dates {
    float: left;
	padding:0 19px 10px 0;
}

.payment .data-input fieldset .select {
    float: left;
	margin:0 10px 0 0;
}

.payment form h2
{
	color:#00b5d1;
	padding-bottom:10px;
	margin-bottom:20px;
	border-bottom:1px dotted #ccc;
}

.payment .sm
{
	margin-right: 149px;
}

.payment .sortcode
{
	margin-bottom:15px;
}

.payment .data-input fieldset .sortcode span.sm
{
	margin-right: 12px;
	float:left;
}

.data-input fieldset .dates div
{
	margin-bottom:0;	
}

.payment .save-changes
{
	margin:auto;	
}

#container .payment-history 
{
	padding-top: 15px;	
}

.payment-history article
{
	margin-top:0;
}


.payment-history .tabs
{
	margin-top:10px;
}


.payment-history .payments .headings
{
	color:#009246;	
	padding-bottom: 10px;
}

.payment-history .payments p
{
	float:left;	
	width:170px;
	padding:0 5px;
}

.payment-history .payments p a
{
	text-decoration:underline;
}

.payment-history .payments
{
	height: 280px;
	overflow:auto;
}

.payment-history .payments ul
{
	margin:none!important;	
	padding:0!important;
}

.payment-history .payments ul.restrict
{
	height:200px;
}

.payment-history .payments ul li
{
	margin-bottom: 5px;
	background:#E1E1E1;
}

.payment-history .payments li p
{
	padding:5px;
}




/*--------------------------------------------------------------------------
	=Public Profile Styles
----------------------------------------------------------------------------*/
.profile .layout-d
{
	margin-bottom: 40px;
}

.profile .layout-d .split
{
	left:617px;
}

.profile .layout-d .panel-b
{
	width: 600px;
}

.profile .layout-d .panel-c
{
	width: 280px;
}
.profile .layout-d .panel-c .limit
{
	padding:0;
}

.profile .layout-d .panel-c h2
{
	font-size: 1.1em;
}
.profile .layout-d .panel-c h2,
.profile .layout-d .panel-c h2 label,
.profile .layout-d .panel-b h2,
.profile .layout-d .panel-b h2 label
{
	padding-bottom: 0;
	line-height: 1em;
}


.profile .layout-d .panel-c h2 label em.alert,
.profile .layout-d .panel-b h2 label em.alert
{
	top:65%;
}

.profile form fieldset h2
{
	color:#00b5d1;
	padding-bottom:10px;
	margin-bottom:20px;
	border-bottom:1px dotted #ccc;
}

.profile span.ta-lg textarea
{
	width: 255px;
	height:200px;
}

.profile .user-data
{
	margin: 20px 0;	
}

.profile .user-data li
{
	width:47%;
	float: left;
	font-weight: bold;
	color: #666
}

.profile .upload
{
	padding-top: 5px;
}

.profile .upload .upload-photo
{
	margin-top:10px;
}

.profile .btn-loader
{
	margin-top: 10px;
}


.profile .thumb
{
	width: 150px;
	overflow: hidden;
	float: left;
	margin-right: 20px;
}
.profile .thumb img
{
	max-width:150px;
}

.profile .hint
{
	float:right;
	width:158px;
	border: 1px solid #dfdfdf;
	padding:15px 10px;	
}

.profile .user-data li em
{
	width:60%;
	font-weight: normal;
}

.profile .data-input fieldset label
{
	float:none;
	margin-bottom:10px;
}

.profile .form-actions .save-changes
{
	clear:both;
	margin:auto;
}

.user-ratings .headings
{
	color:#009246;	
	padding-bottom: 10px;
}

.user-ratings p
{
	float:left;	
}

.user-ratings .headings p.f1
{
	padding-left:65px;
	width:130px;
}

.user-ratings .headings p.f2
{
	width:120px;
}

.user-ratings .headings p.f3
{
	width:300px;
}


.user-ratings
{
	height: 280px;
	overflow:auto;
}

.user-ratings ul.restrict
{
	height: 250px;
}

.user-ratings ul li
{
	margin-bottom: 20px;
	background:#E1E1E1;
}

.user-ratings ul p
{
	padding: 5px;
	margin:0;
}

.user-ratings ul p.f1
{
	width:50px;
}

.user-ratings ul p.f2
{
	width:120px;
}

.user-ratings ul p.f3
{
	width:110px;
}

.user-ratings ul p.f4
{
	width:490px;
}


.user-ratings ul p img
{
	display:block;
}

/* Messages / Review */
.messages .panel-c input,
input.btn
{
	vertical-align:top;
	margin-left:10px;
}

.message-listing
{
	height: 330px;	
	overflow:auto;
}

.none
{
	height: auto;
	padding-bottom:30px;
	overflow:auto;
}

.message-listing .headings
{
	color:#009246;	
	padding-bottom: 10px;
}

.message-listing p
{
	float:left;	
}

.message-listing .headings p.f1 { padding-left:80px; width:190px; }
.message-listing .headings p.f2 { padding-left:20px; width:200px; }
.message-listing .headings p.f3 { padding-left:20px; width:240px; }

.message-listing ul.restrict
{
	height: 290px;
}

.message-listing ul li
{
	margin-bottom: 5px;
	background:#E1E1E1;
}

.message-listing ul li:hover
{
	background: #d2d2d2;	
}

.message-listing ul p
{
	padding: 15px 0 0;
	margin:0;
	border-right:3px solid #fff;
	position:relative;
	min-height:37px;
	cursor:pointer;
}

.message-listing ul .unread p
{
	font-weight:bold;
}

.message-listing ul p.f1 { padding:15px; width:18px; min-height:22px; }
.message-listing ul p.f2 { padding-left:77px; width:137px; }
.message-listing ul p.f3 { padding-left:20px; width:197px; }
.message-listing ul p.f4 { padding-left:20px; width:300px; border-right:none; }

.message-listing ul .replied p.f2 { background:url(../images/user/bg-message-actions.png) 4px 15px no-repeat;}

.message-listing ul p img
{
	position:absolute;
	left:28px;
	top:5px;
}

.compose-message
{
	float:left;	
	margin-right:20px;
}

fieldset.compose
{
	margin-bottom: 20px;
}

.compose label
{
	display:block;
	margin-bottom: 10px;
	margin-top: 20px;
}

.btnsend
{
	float:right;	
}

.layout-d .delete
{
	padding: 20px;	
}

.message-body
{
	margin: 20px 0;	
}

.messages fieldset.ratings
{
	margin-top: 20px;
}

.messages .rating
{
	margin-bottom: 15px;
}

.messages .rating label
{
	float:left;
	margin-right: 20px;
	width: 100px;
	font-weight: bold;
}

.messages .rating label input
{
	display: block;
	position: relative;
	left: -2px;
}

.messages .rating label[for]
{
	width: auto;
	font-weight: normal;
}


/* Bookings Screens */
/* ************************************************************** */


.bookings-grid
{
	margin-top:0;	
	max-height: 900px;
	overflow: auto;
}

.bookings-grid .headings
{
	color:#009246;	
	padding-bottom: 10px;
}

.bookings-grid p
{
	float:left;	
}

.bookings-grid .headings p.f1 { padding-left:60px; width:145px; text-align:center; }
.bookings-grid .headings p.f2 { width:145px; text-align:center; }
.bookings-grid .headings p.f3 { width:150px; text-align:center; }
.bookings-grid .headings p.f4 { width:160px; text-align:center; }
.bookings-grid .headings p.f5 { width:160px; text-align:center; }

.bookings-grid ul li.listview
{
	margin-bottom: 5px;
	background:#E1E1E1 url(../images/user/bg-booking-grid.gif) 0 0 repeat-y;
}

.bookings-grid .fullview
{
	background:#d2d2d2;
	padding:20px;
}

.fullview .action .button
{
	margin-bottom: 2px;
}

.bookings-grid ul li.listview:hover,
.bookings-grid ul li.selected
{
	background-color: #d2d2d2;	
}

.bookings-grid ul .listview p
{
	padding: 10px 5px;
	margin:0;
	border-right:3px solid #fff;
	position:relative;
	cursor:pointer;
}

.bookings-grid ul .listview p.f1 { width:40px; text-align:center; }
.bookings-grid ul .listview p.f1 img { display:block; margin:auto;  }
.bookings-grid ul .listview p.f2 { width:137px; text-align:center; }
.bookings-grid ul .listview p.f3 { width:135px; text-align:center; }
.bookings-grid ul .listview p.f4 { width:137px; text-align:center; }
.bookings-grid ul .listview p.f5 { width:147px; text-align:center; }
.bookings-grid ul .listview p.f6 { width:138px; text-align:center; border-right:none; }


.bookings-grid .fullview hgroup
{
	float:left;
	width:465px;
}

.bookings-grid .fullview hgroup em
{
	margin-right: 15px;
}

.bookings-grid .fullview .action
{
	float:right;
}

.bookings-grid .fullview .action a
{
	display:block;
}

.bookings-grid .fullview section
{
	clear:both;
	padding-top:20px;
}

.bookings-grid .data-block
{
	width: 265px;
	float:left;
}

.bookings-grid .data-block li
{
	margin-bottom: 4px;
}

.bookings-grid .data-block h3
{
	color: #666;
	margin-bottom: 10px;
}

.bookings-grid .data-block .total
{
	border-top:1px solid #ccc;
	padding-top:10px;
	margin-top:10px;
	margin-bottom:20px;
}

.bookings-grid .cost
{
	width: 200px;
	margin-left:35px;
	float: right;
}

.bookings-grid .cost em
{
	width: 60px;
}

.hastabs .inner {
    padding: 0 0 30px;
}

.bookings-grid .location-data
{
	width: 500px;
}

.bookings-grid .location-data .wrapper
{
	background: #666666;
	padding:10px;
	color:#fff;	
	margin: 0;
}

.bookings-grid .location-data .map
{
	width: 280px;
	height: 280px;
	float: left;
	display: block;
}

.bookings-grid .location-data .contact-info
{
	margin-left: 290px;
}

.location-data h4
{
	clear:both;
	margin-bottom: 5px;
	font-weight: bold;
}

.location-data .bio img
{
	float:left;
	margin-bottom: 20px;
}

.location-data .bio img ~ div
{
	margin-left: 20px;
	float: left;
}

.location-data .bio div p
{
	margin-top: 10px;
}

.location-data .bio li
{
	clear:none;
}

.location-data .bio p.about
{
	padding:10px;
	background: #fff;
	display: block;
	width: 455px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	color: #333;
}

/*--------------------------------------------------------------------------
	=Extras
----------------------------------------------------------------------------*/

/* Search keyword highlighting */
.s_highlight {
	font-weight: bold;
	background: #EF94DF;
}

::-moz-selection { background: #5E81BC; color:#fff; text-shadow: none; }
::selection { background: #5E81BC; color:#fff; text-shadow: none; } 

.issue
{
	clear:both;	
}

ul:after, #add-vehicle section ul:after, #add-vehicle:after, #last-viewed:after, #my-car:after, .detail-benefits:after, .maintenance p:after, #block-dates .action:after, #setPrice p:after, #setPrice:after, .availability-selector li:after, .user-ratings div:after, .user-ratings ul li:after, .message-listing div:after, .message-listing ul li:after, .bookings-grid div:after, .bookings-grid ul li:after, ul.tabs:after, .dates:after, .payment-history .payments li:after
{
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden;
	visibility: hidden;
}

.w3c,
.jsOnly
{
	display:none;	
}

.form-errors
{
	color: #C00;
	border:1px solid;
	background: #FFE6E6;
	margin-bottom:15px;
	border-radius:15px;
	padding:15px;
}

/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container{
	width:auto;
	margin-right:30px;
	overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
}
.mCustomScrollBox .mCSB_scrollTools{
	width:16px;
	height:100%;
	top:0;
	right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
	height:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.mCSB_scrollTools .mCSB_buttonUp+.mCSB_draggerContainer{
	padding-bottom:40px;
}
.mCSB_scrollTools .mCSB_draggerRail{
	width:2px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
	cursor:pointer;
	width:100%;
	height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:4px;
	height:100%;
	margin:0 auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	text-align:center;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
	height:20px;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{
	bottom:0;
	margin-top:-40px;
}
/* horizontal scrollbar */
.mCSB_horizontal .mCSB_container{
	height:auto;
	margin-right:0;
	margin-bottom:30px;
	overflow:hidden;
}
.mCSB_horizontal .mCSB_container.mCS_no_scrollbar{
	margin-bottom:0;
}
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools{
	width:100%;
	height:16px;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	overflow:hidden;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerContainer{
	height:100%;
	width:auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	overflow:hidden;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft+.mCSB_draggerContainer{
	padding-bottom:0;
	padding-right:20px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:2px;
	margin:7px 0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger{
	width:30px;
	height:100%;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
	width:20px;
	height:100%;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
	float:left;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
	right:0;
	bottom:auto;
	margin-left:-40px;
	margin-top:-16px;
	float:right;
}

/* default scrollbar colors and backgrounds */
.mCustomScrollBox .mCSB_scrollTools{
	opacity:0.75;
}
.mCustomScrollBox:hover .mCSB_scrollTools{
	opacity:1;
}
.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.4);
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(255,255,255,0.85);
	filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(255,255,255,0.9);
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
	background-image:url(../images/user/mCSB_buttons.png);
	background-repeat:no-repeat;
	opacity:0.4;
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp{
	background-position:0 0;
}
.mCSB_scrollTools .mCSB_buttonDown{
	background-position:0 -20px;

}
.mCSB_scrollTools .mCSB_buttonLeft{
	background-position:0 -40px;
}
.mCSB_scrollTools .mCSB_buttonRight{
	background-position:0 -56px;
}
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{
	opacity:0.9;
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}




.welcome-rentacar label
{
	display:block;
	float:left;
	padding:8px 20px 0 0;
}

.welcome-rentacar .lg
{
	float:left;
}

.account-vehicles_edit #container span.md
{
	width:211px;
}

.account_details #password-strength
{
	margin-left: 170px;
	margin-top:-10px;
}

.notification label
{
	color: #c00;
	position: relative;
}

.notification label em.alert
{
	display:block;
	width:14px;
	height:14px;
	background:url(../images/user/bg-notification-sm.png) 0 0 no-repeat;
	position:absolute;
	top:50%;
	margin-top: -7px;
	left:0;
	color:#fff;
	padding:6px 0 0;
	text-align: center;
	font-size: 7px!important;
	font-family: Verdana;
	line-height: 0;
}

.notification .master img
{
	border: 1px solid #c00;
}


.master img
{
	max-width: 239px;
}

.jsOnly
{
	display: none;
}

.delete-confirm .cancel
{
	float:left;
	margin-right: 20px;
}

.update-vehicle .panel-a
{
	position: relative;
}

.indicator
{
	position: absolute;
	display: block;
	top: 20px;
	right: 20px;
	height: 21px;
	width: 134px;
	background: url(../images/user/bg-indicator.png) 0 0 no-repeat;
	text-indent: -9999px;
}

.notpublished
{
	background-position: 0 -21px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#setPrice .set-price em
	{
		margin:22px 10px 0 0;
	}
}

.account-rentals_decline .layout-a .panel,
.account-rentals_confirm .layout-a .panel
{
	width:875px;
	padding-bottom: 20px;
}

.account-rentals_decline .layout-a .panel .button,
.account-rentals_confirm .layout-a .panel .button 
{
	float:left;
	margin-right: 15px;
}

#abouthint {width:250px; margin-right:7px;}

#vehicle-images ul.errors
{
	margin: 15px 0 10px;
}

#addressInput .confirm
{
	margin-bottom: 20px;
}

.secondary-location div.ok
{
	background: url(../images/bg-form-indicators.png) 100% 5px no-repeat;
	width: 250px;
}

.secondary-location div.has-errors
{
	background: url(../images/bg-form-indicators.png) 100% -124px no-repeat;	
	width: 250px;
}