.button
{
	background-image: url(../images/bg-button.png);	
	background-repeat:no-repeat;
	display:block;
	width:280px; /* Most Common Btn Size */
	height:40px; /* Most Common Btn Size */
	text-indent:-9999px;
}

#master-form fieldset.mform .button { width: 102px; height:36px; float:left; } #master-form fieldset.mform .button:hover { background-position: 100% 0; }
.find-out-more { width: 126px; height:26px; background-position:0 -761px; } .find-out-more:hover { background-position: 100% -761px; }
.standard-register { width: 190px; height:26px; background-position:0 -314px; } .standard-register:hover { background-position: 100% -314px; }
.btn-search { width: 178px; background-position:0 -201px; } .btn-search:hover { background-position: 100% -201px; }
.shortlist-lg { width: 139px; height:41px; background-position:0 -1318px; } .shortlist-lg:hover { background-position: 100% -1318px; }
.rent-this { width: 94px; height:30px; background-position:0 -242px; } .rent-this:hover { background-position: 100% -242px; }
.view-details { margin-right: 10px; width: 94px; height:30px; background-position:0 -911px; } .view-details:hover { background-position: 100% -911px; }
.shortlist-sm { width: 78px; height:28px; background-position:0 -1260px; } .shortlist-sm:hover { background-position: 100% -1260px; }
.shortlist-add { width: 134px; height:28px; background-position:0 -1289px; } .shortlist-add:hover { background-position: 100% -1289px; }
.book-now { width: 178px; background-position:0 -273px; } .book-now:hover { background-position: 100% -273px; }
.remove-vehicle { width: 124px; margin-right:10px; height:30px; background-position:0 -1423px; } .remove-vehicle:hover { background-position: 100% -1423px; }
.show-rental-value { width: 258px; background-position:0 -586px; } .show-rental-value:hover { background-position: 100% -586px; }
.confirm-listing { width: 380px; background-position:0 -627px; } .confirm-listing:hover { background-position: 100% -627px; }
.confirm-listing-sm { width: 310px; height: 30px; background-position:0 -2838px; } .confirm-listing-sm:hover { background-position: 100% -2838px; }
#container .find-occupation, #dialog-modal .find-occupation { width: 126px; height:25px; background-position:0 -1360px; } #container .find-occupation:hover, #dialog-modal .find-occupation:hover { background-position: 100% -1360px; }
#container .address-lookup, #dialog-modal .address-lookup { width: 126px; height:25px; background-position:0 -787px; } #container .address-lookup:hover, #dialog-modal .address-lookup:hover { background-position: 100% -787px; }
#container .sign-me-up { margin:auto; width: 178px; background-position:0 -78px; } #container .sign-me-up:hover { background-position: 100% -78px; }
#container .log-me-in { margin:auto; width: 178px; background-position:0 -37px; } #container .log-me-in:hover { background-position: 100% -37px; }
.edit-details { margin:auto; width: 126px; height:25px; background-position:0 -735px; } .edit-details:hover { background-position: 100% -735px; }
.edit-details-lg { width: 228px; background-position:0 -839px; } .edit-details-lg:hover { background-position: 100% -839px; }
.confirm-details-lg { width: 228px; background-position:0 -160px; } .confirm-details-lg:hover { background-position: 100% -160px; }
.continue-step-2 { background-position:0 -340px; } .continue-step-2:hover { background-position: 100% -340px; }
.continue-step-3 { background-position:0 -381px; } .continue-step-3:hover { background-position: 100% -381px; }
.continue-step-4 { background-position:0 -422px; } .continue-step-4:hover { background-position: 100% -422px; }
.confirm { background-position:0 -463px; } .confirm:hover { background-position: 100% -463px; }
.back-car-details { background-position:0 -2540px; } .back-car-details:hover { background-position: 100% -2540px; }
.back-search-results { background-position:0 -973px; } .back-search-results:hover { background-position: 100% -973px; }
.back-step-1 { background-position:0 -1014px; } .back-step-1:hover { background-position: 100% -1014px; }
.back-step-2 { background-position:0 -1055px; } .back-step-2:hover { background-position: 100% -1055px; }
.back-step-3 { background-position:0 -1096px; } .back-step-3:hover { background-position: 100% -1096px; }
.back-to-confirmation { background-position:0 -1178px; } .back-to-confirmation:hover { background-position: 100% -1178px; }
.change-card { width:126px; height:25px; background-position:0 -813px; } .change-card:hover { background-position: 100% -813px; }
.save-changes { background-position:0 -668px; } .save-changes:hover { background-position: 100% -668px; }
.cancel-changes { background-position:0 -1219px; } .cancel-changes:hover { background-position: 100% -1219px; }
.send-message { width:126px; height:25px; background-position:0 -709px; } .send-message:hover { background-position: 100% -709px; }
.my-account { background-position:0 -545px; } .my-account:hover { background-position: 100% -545px; }
.back-to-car-details { background-position:0 -973px; } .back-to-car-details:hover { background-position: 100% -973px; }
.change-email { width: 160px; height:30px; background-position:0 -942px; } .change-email:hover { background-position: 100% -942px; }
.change-password { width: 140px; height:30px; background-position:0 -1454px; } .change-password:hover { background-position: 100% -1454px; }
.save-progress { width: 126px; height:25px; background-position:0 -1639px; } .save-progress:hover { background-position: 100% -1639px; }
.upload-photo { width: 198px; background-position:0 -1814px; } .upload-photo:hover { background-position: 100% -1814px; }
.open-calendar { width: 126px; height:25px; background-position:0 -1855px; } .open-calendar:hover { background-position: 100% -1855px; }
.reset-to-recommended { width: 120px; height:25px; background-position:0 -1665px; } .reset-to-recommended:hover { background-position: 100% -1665px; }
.delete-car { width: 164px; background-position:0 -1691px; } .delete-car:hover { background-position: 100% -1691px; }
.save-and-preview { width: 164px; background-position:0 -1732px; } .save-and-preview:hover { background-position: 100% -1732px; }
.save-changes-sm { width: 198px; background-position:0 -1773px; } .save-changes-sm:hover { background-position: 100% -1773px; }
.publish { width: 198px; background-position:0 -1773px; } .publish:hover { background-position: 100% -1773px; }
.publish-car { width: 228px; background-position:0 -2895px; } .publish-car:hover { background-position: 100% -2895px; }
.compose-message { width: 228px; background-position:0 -1557px; } .compose-message:hover { background-position: 100% -1557px; }
.bin-selection { width: 168px; background-position:0 -1598px; } .bin-selection:hover { background-position: 100% -1598px; }
.deliver-message { width: 198px; background-position:0 -1922px; } .deliver-message:hover { background-position: 100% -1922px; }
.save-draft { width: 228px; background-position:0 -1881px; } .save-draft:hover { background-position: 100% -1881px; }
.cancel { width: 280px; background-position:0 -1963px; } .cancel:hover { background-position: 100% -1963px; }
.update-plate { width: 186px; height:25px; background-position:0 -2004px; } .update-plate:hover { background-position: 100% -2004px; }
.unlink-facebook { width: 160px; height:30px; background-position:0 -2030px; } .unlink-facebook:hover { background-position: 100% -2030px; }
.return-to-bookings { background-position:0 -2061px; } .return-to-bookings:hover { background-position: 100% -2061px; }
.unpublish-car { width:228px; background-position:0 -2143px; } .unpublish-car:hover { background-position: 100% -2143px; }
.remove-car { width:263px; background-position:0 -2102px; } .remove-car:hover { background-position: 100% -2102px; }
.complete-registration { width:228px; background-position:0 -2184px; } .complete-registration:hover { background-position: 100% -2184px; }
.delete-account { width:228px; background-position:0 -2225px; } .delete-account:hover { background-position: 100% -2225px; }
.shortlisted { width:181px; height:28px; background-position:0 -2266px; } .shortlisted:hover { background-position: 100% -2266px; }
.shortlisted-sm { width:144px; height:27px; background-position:0 -2977px; } .shortlisted-sm:hover { background-position: 100% -2977px; }
.cancel-disconnect { width:178px; background-position:0 -2294px; float:right; } .cancel-disconnect:hover { background-position: 100% -2294px; }
.confirm-disconnect { width:178px; background-position:0 -2335px; } .confirm-disconnect:hover { background-position: 100% -2335px; }
.print-rental { width:290px; background-position:0 -1137px; } .print-rental:hover { background-position: 100% -1137px; }
.decline-rental { width:280px; background-position:0 -2376px; } .decline-rental:hover { background-position: 100% -2376px; }
.cancel-rental { width:280px; background-position:0 -2417px; } .cancel-rental:hover { background-position: 100% -2417px; }
.confirm-booking { width:280px; background-position:0 -2458px; } .confirm-booking:hover { background-position: 100% -2458px; }
.write-review { width:280px; background-position:0 -2499px; } .write-review:hover { background-position: 100% -2499px; }
.send { width:198px; background-position:0 -2581px; } .send:hover { background-position: 100% -2581px; }
.dash-value {width:198px; background-position:0 -2622px; } .dash-value:hover { background-position: 100% -2622px; }
.dash-search {width:198px; background-position:0 -2663px; } .dash-search:hover { background-position: 100% -2663px; }
.view-my-car {width:198px; background-position:0 -2704px; } .view-my-car:hover { background-position: 100% -2704px; }
#changeAddress {width:186px; height: 25px; background-position:0 -2745px; } #changeAddress:hover { background-position: 100% -2745px; }
#addAddress {width:186px; height: 25px; background-position:0 -2869px; } #addAddress:hover { background-position: 100% -2869px; }
#cancelChange {width:186px; height: 25px; background-position:0 -2771px; } #cancelChange:hover { background-position: 100% -2771px; }
.overlayclose {width:120px; background-position:0 -2797px; } .overlayclose:hover { background-position: 100% -2797px; }
.back-to-rentals {width:280px; height: 40px; background-position:0 -2936px; } .back-to-rentals:hover { background-position: 100% -2936px; }
.submit-review { background-position:0 -3008px; } .submit-review:hover { background-position: 100% -3008px; }
.cal-confirm {width:91px!important; height: 25px; background-position:0 -3049px; } .cal-confirm:hover { background-position: 100% -3049px; }
.cal-cancel {width:84px!important; height: 25px; background-position:0 -3075px; } .cal-cancel:hover { background-position: 100% -3075px; }

.jsOnly
{
	display: none;
}