html, body {
    font-family: Arial, Helvetica, sans-serif
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input, select {
    vertical-align: middle
}

a {
    color: #333
}

a:hover {
    text-decoration: none
}

a img, :link img, :visited img {
    border: 0
}

a {
    text-decoration: none
}

textarea {
    font-family: Arial, Helvetica, sans-serif
}

strong {
    font-weight: bold
}

em {
    font-style: normal
}

th, label {
    font-weight: normal
}

ul {
    list-style: none;
    margin: 0
}

input {
    padding: 0;
    margin: 0
}

.booking-form h3, .rates .price-matrix li em, #infoPanel h3 {
    font-family: 'VAG Rounded W01 Bold', Arial, Helvetica, sans-serif
}

h1, h2, h3, h4, h5, .steps, .booking-form label, .user-data, .booking-form .costs .total em, .booking-form .user-checks h3, header nav, .rental-value label, .rental-value .reasons li, #dialog-modal .booking-confirmation h3, .rental-check .eligibility, #resultCount, #filterLabel, #filterLabel2, #loading, #dialog-modal .facebook-step .like-box, .form-errors, .errors, .form-success, #infoPanel, #warningPanel, .booking-form .email {
    font-family: 'VAG Rounded W01 Light', Arial, Helvetica, sans-serif
}

.rent-vehicle .booking-form .user-checks div p, .rent-vehicle .booking-form .user-checks div p *, .booking-form .email em {
    font-family: Arial, Helvetica, sans-serif
}

body {
    font: 12px/1.231 sans-serif
}

select, input, textarea, button {
    font: 99% sans-serif
}

select {
    padding: 5px;
    width: 90%
}

.layout-c .vehicle .price h2 em, .rates .price-matrix li em {
    font-size: 4em
}

#master-form h1 {
    font-size: 3em
}

h1, .vehicle .price h2 em, .layout-a h1, .layout-b .search h1, .layout-b .eligibility h1, .booking-form h1, .bio p.stats em, #dialog-modal .helper h1, #warningPanel h1, #dialog-modal #warningPanel h1 {
    font-size: 2.6em
}

#dialog-modal .helper h1 {
    font-size: 2.25em
}

.layout-b .why h1, .editorial h2, .rental-check .eligibility {
    font-size: 2em
}

.banner h1, .search h2, .layout-c h1, .layout-c .prices em, .layout-a h2, .layout-b .eligibility h2, .booking-form h2, .rental-value h2, .how-panel h2, .rent-out-your-car-home .why h1 {
    font-size: 1.83em
}

footer h2, #master-form span.lg input, #master-form label.mform, .layout-c .prices li, .layout-c h2, .editorial h3, #loading, .eligibility .critera h2, .rent-out-your-car-home .rates h3, #infoPanel h3, #warningPanel h2 {
    font-size: 1.67em
}

.booking-form .costs .total, .rental-check h2, .vehicle-details h2, .detail-benefits h3, .how-panel h3, #dialog-modal .facebook-step h1, #dialog-modal .facebook-step h2, #dialog-modal .helper h2, #container .rental-checks h3 {
    font-size: 1.5em
}

.vehicle .price h3, .search label, .search h3, .layout-c h3, #infoPanel p {
    font-size: 1.33em
}

header li a, .bio h4, .review-data h4, .instruction3, #dialog-modal h1, #dialog-modal h2, .booking-form h3, .rental-value .reasons li, .vehicle-details .user-data, #dialog-modal .facebook-step .like-box, #dialog-modal .facebook-step h3, .form-errors, .errors, .form-success, .data-input fieldset.attention h3 {
    font-size: 1.25em
}

a.shortlist, nav.inpage ul li a, .layout-c .caveat, #avcal th, #avcal td, #dialog-modal h3, .booking-form .costs .total em, .rental-value label, #resultCount, #filterLabel, #filterLabel2 {
    font-size: 1.167em
}

.layout-c article.vehicle h4 a, .eligibility .critera ul li, .why li, header nav, .confirmation ul, .data-input fieldset label, #warningPanel p {
    font-size: 1.1em
}

.layout-c .vehicle .price h2, .booking-form .user-checks h3, .vehicle h1, .user-info .profile span, .rent-vehicle .booking-form .user-checks div p, .rent-vehicle .booking-form .highlight, .availableTimes {
    font-size: 1em
}

.vehicle .price p, #dialog-modal .caveat, #dialog-modal .terms, .long, .booking-confirmation .user-data, .charsRemaining {
    font-size: 0.92em
}

nav.inpage ul li a em, .booking-form .user-checks div p, .booking-form .highlight {
    font-size: 0.833em
}

body {
    background: #ececec url(../images/bg-body.png) 0 0 repeat-x;
    color: #333;
    font-family: Arial, Helvetica, sans-serif
}

h1, h2, h3, h4 {
    font-weight: normal;
    line-height: 1.4em;
    margin-bottom: 14px
}

h1 {
    color: #666
}

.panel-a h1 {
    margin-bottom: 0.2em
}

ul li, ol li, p {
    line-height: 1.25em;
    margin-bottom: 14px
}

header ul, header ul li, footer ul {
    margin: 0
}

#container, footer div {
    margin: 0 auto;
    width: 960px
}

textarea {
    resize: vertical
}

header .primary li a:hover, header .secondary li a:hover, header li.selected a:hover, header .primary li.active a, header .secondary li.active a, header li.active a:hover, .user-info {
    border: 1px solid #00b5d1;
    border-bottom: 0;
    background: #00b5d1;
    background: -moz-linear-gradient(top, #00b5d1 0%, #00a0ba 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b5d1), color-stop(100%, #00a0ba));
    background: -webkit-linear-gradient(top, #00b5d1 0%, #00a0ba 100%);
    background: -o-linear-gradient(top, #00b5d1 0%, #00a0ba 100%);
    background: -ms-linear-gradient(top, #00b5d1 0%, #00a0ba 100%);
    background: linear-gradient(to bottom, #00b5d1 0%, #00a0ba 100%);
    color: #fff
}

header .user-info li.active a {
    border: 0
}

header .secondary li a {
    border: 1px solid #F7AB0D;
    background: #ffcc00;
    background: -moz-linear-gradient(top, #ff9400 0%, #ff9400 16%, #ff8403 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9400), color-stop(16%, #ff9400), color-stop(100%, #ff8403));
    background: -webkit-linear-gradient(top, #ff9400 0%, #ff9400 16%, #ff8403 100%);
    background: -o-linear-gradient(top, #ff9400 0%, #ff9400 16%, #ff8403 100%);
    background: -ms-linear-gradient(top, #ff9400 0%, #ff9400 16%, #ff8403 100%);
    background: linear-gradient(to bottom, #ff9400 0%, #ff9400 16%, #ff8403 100%);
    color: #333
}

#grey {
    background: #ffffff;
    background: -moz-linear-gradient(top, #fff 0%, #e3e2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e3e2e2));
    background: -webkit-linear-gradient(top, #fff 0%, #e3e2e2 100%);
    background: -o-linear-gradient(top, #fff 0%, #e3e2e2 100%);
    background: -ms-linear-gradient(top, #fff 0%, #e3e2e2 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e3e2e2 100%)
}

.user-data em {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    width: 165px
}

.user-data li {
    clear: right;
    margin-bottom: 10px
}

#warningPanel.inpage, #dashboard #my-car, #dashboard #rent-your-car, #dashboard #rent-a-car, #loading, #main, .layout-a .panel, .layout-b .panel-a, .layout-b .panel-e, .layout-d .panel-a, .layout-e .panel-a, .layout-f .panel-a, .layout-f .panel-b, .layout-g .panel-a, #supporting .banner, .home form {
    -webkit-box-shadow: 0px 1px #ccc;
    -moz-box-shadow: 0px 1px #ccc;
    box-shadow: 0px 1px #ccc
}

#warningPanel.inpage, #dashboard #my-car, #dashboard #rent-your-car, #dashboard #rent-a-car, #loading, span.ta-lg, span.ta, .data-input fieldset span.ta-lg, .data-input fieldset span.ta, .booking-form .highlight, .social-push, .rates .price-matrix, .how-panel, .rental-check .eligibility, .layout-a .panel, .layout-b .panel-a, .layout-b .panel-e, .layout-d .panel-a, .layout-e .panel-a, .layout-f .panel-a, .layout-f .panel-b, .layout-g .panel-a, nav.inpage, #avcal, #avcal h3, .booking-form-sm fieldset, .bio, .availability, body .ui-dialog, .social-push, .booking-form .steps, #supporting .banner, .home form, .how-panel article {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px
}

.form-errors, .errors, .form-success {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

span.ta-lg, span.ta, .data-input fieldset span.ta-lg, .data-input fieldset span.ta {
    -webkit-box-shadow: 1px 2px 2px 2px #ddd inset;
    -moz-box-shadow: 1px 2px 2px 2px #ddd inset;
    box-shadow: 1px 2px 2px 2px #ddd inset;
    background: #fff;
    color: #666;
    display: block
}

.social-push, .rates .price-matrix, .how-panel, .like-box {
    padding: 15px 15px 15px 20px;
    -webkit-box-shadow: 1px 2px #ccc inset;
    -moz-box-shadow: 1px 2px #ccc inset;
    box-shadow: 1px 2px #ccc inset;
    border-radius: 15px;
    background: #fff;
    clear: both;
    margin: 20px 0;
    color: #666
}

.booking-form .highlight {
    padding: 15px 15px 15px 20px;
    border: 1px solid #00b5d1;
    border-radius: 15px;
    background: #EBF9E6;
    clear: both;
    margin: 20px 0;
    color: #666
}

ul.tabs {
    margin: 30px 0 0 12px
}

ul.tabs li {
    display: block;
    float: left;
    margin: 0
}

ul.tabs li a, ul.tabs li em {
    display: block;
    float: left;
    width: 188px;
    height: 22px;
    background: url(../images/user/bg-tabs.png) 0 0 no-repeat;
    margin: 0;
    margin-right: 4px;
    padding: 7px 0 0 0;
    text-align: center;
    color: #fff
}

ul.tabs li a {
    background-position: -190px 0;
    color: #333
}

ul.tabs li.selected a, ul.tabs li a:hover {
    background-position: 0 0;
    color: #fff
}

#hownav.tabs li.selected a, #hownav.tabs li a:hover {
    font-weight: bold
}

header {
    height: 155px;
    border-bottom: 1px solid #ededed;
    position: relative
}

header .primary {
    position: absolute;
    bottom: 0;
    left: 0
}

header .secondary {
    position: absolute;
    bottom: 0;
    right: 0
}

header .auth {
    position: absolute;
    top: 39px;
    right: 0
}

header li, header li a {
    float: left;
    display: block
}

header li a {
    border: 1px solid #ededed;
    border-bottom: 0;
    padding: 9px 14px 5px;
    color: #6D6E70;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #fff
}

header .secondary li a:hover {
    padding: 9px 14px 6px
}

header .secondary li.active a:hover {
    padding: 9px 14px 5px
}

header li.home a {
    text-indent: -9999px;
    width: 30px;
    background: #fff url(../images/bg-home.png) 51% 59% no-repeat
}

header li.home a:hover, header li.home.active a {
    border: 1px solid #00b5d1;
    border-bottom: 0;
    text-indent: -9999px;
    width: 30px;
    background: #00b5d1 url(../images/bg-home-active.png) 50% 50% no-repeat;
    background: url(../images/bg-home-active.png) 50% 50% no-repeat, -moz-linear-gradient(top, #00b5d1 0%, #00a0ba 100%);
    background: url(../images/bg-home-active.png) 50% 50% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b5d1), color-stop(100%, #00a0ba));
    background: url(../images/bg-home-active.png) 50% 50% no-repeat, -webkit-linear-gradient(top, #00b5d1 0%, #00a0ba 100%);
    background: url(../images/bg-home-active.png) 50% 50% no-repeat, -o-linear-gradient(top, #00b5d1 0%, #00a0ba 100%);
    background: url(../images/bg-home-active.png) 50% 50% no-repeat, -ms-linear-gradient(top, #00b5d1 0%, #00a0ba 100%);
    background: url(../images/bg-home-active.png) 50% 50% no-repeat, linear-gradient(to bottom, #00b5d1 0%, #00a0ba 100%)
}

header .auth li a.reg {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 11px 24px 11px 50px;
    background: url(../images/bg-auth-reg.png) 10px 50% no-repeat #f1f1f1;
    background: url(../images/bg-auth-reg.png) 10px 50% no-repeat, -moz-linear-gradient(top, #fff 0%, #e3e2e2 100%);
    background: url(../images/bg-auth-reg.png) 10px 50% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e3e2e2));
    background: url(../images/bg-auth-reg.png) 10px 50% no-repeat, -webkit-linear-gradient(top, #fff 0%, #e3e2e2 100%);
    background: url(../images/bg-auth-reg.png) 10px 50% no-repeat, -o-linear-gradient(top, #fff 0%, #e3e2e2 100%);
    background: url(../images/bg-auth-reg.png) 10px 50% no-repeat, -ms-linear-gradient(top, #fff 0%, #e3e2e2 100%);
    background: url(../images/bg-auth-reg.png) 10px 50% no-repeat, linear-gradient(to bottom, #ffffff 0%, #e3e2e2 100%)
}

header .auth li a.reg:hover {
    color: #00b5d1
}

.user-info {
    border-radius: 10px;
    padding: 9px 14px
}

.user-info a {
    padding: 0;
    border: none;
    color: #fff;
    border-radius: 0;
    border-left: 1px solid #40AD75;
    border-right: 1px solid #40AD75;
    padding: 2px 10px;
    background: none
}

.user-info .myaccount a {
    border-left: 0
}

.user-info a:hover, .user-info .active a:hover {
    background: #fff;
    color: #00b5d1
}

.user-info .profile span {
    background-color: transparent;
    color: #fff;
    min-width: 100px;
    background-repeat: no-repeat;
    border-left: 0;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: normal;
    background-image: url(../images/bg-user-info-profile-default.png);
    background-position: 0 0;
    min-height: 18px;
    display: block
}

.user-info li:last-child a {
    border-right: none
}

header li img {
    position: absolute;
    top: -100px;
    left: 0
}

#main {
    border: 1px solid #ededed;
    border-top: 0;
    background: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-color: #bdbdbd;
    margin-bottom: 20px;
    padding: 25px 20px;
    position: relative
}

span.ta-lg, span.ta, .data-input fieldset span.ta-lg, .data-input fieldset span.ta {
    padding: 10px;
    float: left;
    width: inherit;
    height: inherit
}

.booking-form .highlight {
    padding: 15px;
    clear: both;
    margin-top: 0
}

.social-push {
    background: #fff url(../images/bg-social-push.png) 15px 15px no-repeat;
    float: right;
    width: 180px;
    height: 80px;
    padding: 15px 15px 15px 100px
}

.rates .price-matrix {
    padding: 15px 15px 15px 20px;
    clear: both;
    margin: 20px 0
}

.pager {
    margin: 0;
    float: right
}

.pager a, .pager li {
    display: block;
    float: left
}

.pager a {
    padding: 3px;
    margin-left: 3px;
    border-bottom: 1px solid #fff
}

.pager .active a {
    font-weight: bold;
    color: #00b5d1;
    border-bottom: 1px solid
}

form div.select {
    margin-bottom: 10px
}

form div.select p {
    padding: 7px 40px 3px 10px;
    margin: 0;
    background: url(../images/bg-form.png) -1548px 0 no-repeat;
    height: 20px;
    cursor: pointer
}

form div.select div {
    width: 190px
}

form div.select ul {
    width: 190px;
    padding: 0;
    margin: 0;
    position: absolute;
    display: none;
    z-index: 99999;
    max-height: 341px;
    overflow-y: scroll
}

form div.lg p {
    background: url(../images/bg-form.png) -1268px 0 no-repeat;
    padding: 7px 40px 10px 10px
}

form div.lg p.list-heading {
    padding: 9px 40px 7px 10px
}

form div.lg div, form div.lg ul {
    width: 280px
}

form div.sm p {
    background: url(../images/bg-form.png) -1739px 0 no-repeat;
    padding: 7px 40px 4px 10px
}

form div.sm p em {
    overflow: hidden;
    white-space: nowrap;
    width: 80px;
    display: block
}

form div.sm div, form div.sm ul {
    width: 130px
}

form div.xsm {
    margin-left: 20px
}

form div.xsm p {
    background: url(../images/bg-form.png) -1870px 0 no-repeat;
    padding: 7px 40px 4px 10px
}

form div.xsm p em {
    overflow: hidden;
    white-space: nowrap;
    width: 35px;
    display: block
}

form div.xsm div, form div.xsm ul {
    width: 70px
}

form div.select ul li {
    padding: 0;
    margin: 0
}

form div.select ul li a {
    display: block;
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    background: #fff;
    cursor: pointer
}

form div.select ul li a:hover, form div.select ul li a.selected {
    background: #f2f2f2
}

p.rating {
    height: 15px
}

.rating em {
    display: block;
    float: left;
    width: 140px;
    font-weight: bold;
    color: #666
}

.rating span {
    display: block;
    float: left;
    height: 16px;
    width: 90px;
    text-indent: -9999px;
    overflow: hidden;
    margin-right: 5px;
    background: url(../images/bg-rating.png) 0 0 no-repeat
}

.rating .r2 {
    background-position: 0 -16px
}

.rating .r3 {
    background-position: 0 -32px
}

.rating .r4 {
    background-position: 0 -48px
}

.rating .r5 {
    background-position: 0 -64px
}

form span.lg, form span.md, form span.sm, #master-form span.mform {
    display: block;
    padding: 7px 5px;
    position: relative
}

form span.md {
    padding: 3px 5px 8px
}

form span input {
    border: 0
}

span.md {
    background: url(../images/bg-form.png) -522px 0 no-repeat;
    width: 220px;
    height: 26px;
    margin-bottom: 10px
}

span.md input {
    width: 200px;
    padding: 4px
}

span.lg {
    background: url(../images/bg-form.png) -261px 0 no-repeat;
    width: 251px;
    min-height: 26px;
    margin-bottom: 10px
}

span.lg input {
    width: 240px;
    padding: 4px
}

span.sm, .data-input fieldset span.sm {
    width: 41px;
    height: 22px;
    background: url(../images/bg-form.png) -743px 0 no-repeat;
    padding-top: 6px
}

span.sm input, .data-input fieldset span.sm input {
    width: 41px
}

span.reg, span.xlg {
    padding: 8px 0 0 40px;
    width: 230px;
    height: 52px;
    background: url(../images/bg-reg-plate.png) 0 0 no-repeat;
    display: block;
    margin-bottom: 20px
}

span.xlg {
    background: url(../images/bg-form.png) -996px 0 no-repeat;
    padding-left: 10px;
    width: 260px
}

span.reg input, span.reg em, span.xlg input {
    width: 200px;
    height: 40px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    display: block
}

span.reg input {
    font-size: 36px;
    width: 220px
}

span.xlg input {
    background: #fff;
    width: 240px
}

#container span.ta-lg, #container span.ta {
    margin-bottom: 10px
}

span.ta-lg textarea {
    border: none;
    height: 150px;
    width: 635px
}

span.ta textarea {
    border: none;
    width: 580px;
    height: 170px
}

.radios {
    display: block;
    clear: both;
    padding: 1em 0 0
}

body fieldset .radios label {
    float: left;
    width: 84px;
    vertical-align: middle
}

body fieldset .radios label input {
    margin: 0 10px 0 0;
    position: relative;
    top: -2px
}

.editorial h2 {
    color: #00b5d1;
    margin-bottom: 10px
}

.editorial h3 {
    color: #333;
    margin-top: 15px
}

.editorial ul {
    list-style: disc;
    margin: 15px
}

.editorial li {
    margin-bottom: 5px
}

.rental-check h2 {
    margin-bottom: 20px
}

.rental-check .eligibility {
    border: 1px solid #ddd;
    color: #666;
    background: url(../images/bg-eligibility.png) no-repeat scroll 16px 12px transparent;
    float: left;
    padding: 14px 0 14px 50px;
    width: 500px
}

.rental-check .reg {
    float: right;
    padding: 5px 0 0 40px;
    height: 58px;
    margin-bottom: 0
}

.rental-check .reg em {
    font-size: 43px;
    width: 228px;
    height: 53px
}

.rental-check .update {
    clear: both;
    font-weight: bold;
    float: right
}

.rental-check .update a {
    text-decoration: underline
}

.vehicle-details {
    margin-bottom: 30px
}

.vehicle-details h2 {
    color: #009246;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd
}

.vehicle-details .data {
    width: 250px;
    float: left;
    border-right: 1px solid #ccc;
    padding: 0 20px 0 30px
}

.vehicle-details .user-data em {
    width: 140px
}

.rates {
    width: 590px;
    float: right
}

.rates .price-matrix li {
    float: left;
    border-right: 1px solid #ccc;
    padding: 10px 30px 0 0;
    margin-right: 19px;
    line-height: 3em
}

.rates .price-matrix li.last {
    padding-right: 0;
    margin-right: 0;
    border-right: none
}

.rates .price-matrix li em {
    color: #009246
}

.rates .caveat {
    float: left;
    font-weight: bold;
    width: 200px;
    border: none
}

.rates .confirm {
    float: right
}

.rates h3 {
    margin-bottom: 0.3em
}

.detail-benefits .details {
    float: left;
    width: 258px;
    border: 1px solid #ccc;
    height: 248px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px;
    background: url(../images/bg-details.jpg) 0 0 repeat-x
}

.detail-benefits .benefits {
    float: right;
    width: 577px;
    border: 1px solid #ccc;
    height: 248px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
    background: url(../images/bg-benefits.jpg) 0 0 repeat-x;
    border-left: 0;
    color: #666
}

.detail-benefits .benefits div {
    float: left;
    width: 255px
}

.detail-benefits .benefits .reasons {
    width: 270px;
    border-right: 1px solid #ccc;
    padding-right: 30px;
    margin-right: 20px;
    height: 240px
}

.detail-benefits h3 {
    margin-bottom: 15px
}

.detail-benefits .benefits .reasons h3, .detail-benefits .details h3 {
    margin-bottom: 40px
}

.detail-benefits .benefits li {
    padding-left: 40px;
    background: url(../images/bg-bullet.png) 0 0 no-repeat
}

#vehicle-detail .thumbs li {
    float: left;
    margin-right: 7px
}

.layout-a .panel {
    background: #e1e0e0 url(../images/grad-a.png) 0 0 repeat-x;
    border: 1px solid #ddd;
    padding: 5px 20px;
    float: left;
    width: 400px
}

.layout-a .panel-a {
    margin-right: 33px
}

.layout-a .split {
    height: 75%;
    position: absolute;
    top: 10%;
    width: 3px;
    left: 479px
}

.layout-a h1, .layout-a h2 {
    margin: 4px 0;
    line-height: 1em
}

.layout-a h2 {
    margin-bottom: 8px
}

.layout-b .panel-a, .layout-b .panel-e, #dashboard #rent-your-car, #dashboard #rent-a-car, #dashboard #my-car {
    background: #e1e0e0 url(../images/grad-a.png) 0 0 repeat-x;
    border: 1px solid #ddd;
    padding: 5px 20px
}

.layout-b .panel-b {
    padding: 20px 4px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #bbb;
    clear: both
}

.layout-b .last {
    border-top: 1px solid #bbb;
    border-bottom: none
}

.layout-b .panel-e {
    padding: 20px 4px 0;
    margin-bottom: 0
}

.layout-b .panel-c {
    width: 600px;
    float: left
}

.layout-b .panel-d {
    width: 280px;
    float: right
}

.layout-c {
    border-top: 1px solid #bbb;
    margin-top: 15px;
    padding-top: 15px
}

.layout-c > h2 {
    margin-bottom: 15px
}

.layout-c .panel {
    width: 280px;
    float: left;
    margin-right: 15px;
    padding-right: 14px;
    border-right: 1px solid #ccc;
    min-height: 435px
}

.user-detail .panel {
    min-height: 300px
}

.user-detail .description {
    margin-top: 45px
}

.user-detail .panel-a {
    border: none
}

.layout-c .panel-c {
    margin-right: 0;
    padding-right: 0;
    border-right: none
}

.layout-c ul {
    margin: 0
}

.layout-c h1 {
    color: #00b5d1;
    margin: 0 0 0.6em
}

.layout-c h3 {
    color: #00b5d1;
    margin: 1em 0
}

.layout-d .panel-a {
    background: #e1e0e0 url(../images/grad-a.png) 0 0 repeat-x;
    border: 1px solid #ddd;
    padding: 5px 20px;
    margin-bottom: 20px;
    clear: both
}

.layout-d .panel-b, .layout-d .panel-c {
    width: 440px;
    float: left
}

.layout-d .panel-b {
    margin-right: 34px;
    position: relative
}

.layout-d .split {
    height: 85%;
    position: absolute;
    top: 0;
    width: 3px;
    left: 453px
}

.layout-e {
    border-top: 1px solid #bbb;
    margin-top: 25px;
    padding-top: 25px
}

.layout-e .panel-a {
    background: #dedddd url(../images/grad-b.png) 0 0 repeat-x;
    border: 1px solid #ddd;
    padding: 5px 20px;
    margin-bottom: 20px
}

.layout-f .panel-a, .layout-f .panel-b {
    background: #dedddd url(../images/grad-e.png) 0 0 repeat-x;
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin-bottom: 20px
}

.layout-f .panel-b {
    background: #dedddd url(../images/grad-f.png) 0 0 repeat-x
}

.layout-f form .panel-b h2 {
    margin-bottom: 0.5em
}

.layout-g .panel-a {
    background: #dedddd url(../images/grad-f.png) 0 0 repeat-x;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    width: 320px;
    float: left;
    min-height: 387px
}

.layout-g .panel-b {
    width: 520px;
    float: right;
    background: url(../images/bg-layout-g-panel-b.png) 0 0 no-repeat;
    min-height: 427px;
    padding-left: 17px
}

.layout-d .masthead, .layout-f .masthead {
    padding: 20px;
    background: #e1e0e0 url(../images/grad-c.png) 0 0 repeat-x
}

nav.inpage {
    background: #dedddd url(../images/grad-c.png) 0 0 repeat-x;
    border: 1px solid #ddd;
    margin-bottom: 20px
}

nav.inpage ul, nav.inpage ul li {
    margin: 0
}

nav.inpage ul li {
    position: relative;
    display: block
}

nav.inpage ul li a {
    background: url(../images/bg-inpage.png) top right no-repeat;
    display: block;
    float: left;
    padding: 16px 28px 16px 29px;
    position: relative
}

nav.inpage ul li.first a {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px
}

nav.inpage ul li.last a {
    background: none;
    padding: 16px 31px 16px 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px
}

nav.inpage ul li a:hover, nav.inpage ul li.last a:hover, nav.inpage ul li.active a, nav.inpage ul li.last.active a {
    background: #00783a url(../images/bg-inpage-selected.png) 0 0 repeat-x;
    color: #fff
}

nav.inpage ul li em, .user-info li em {
    display: block;
    width: 14px;
    height: 14px;
    background: url(../images/user/bg-notification-sm.png) 0 0 no-repeat;
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    padding: 6px 0 0;
    text-align: center;
    font-size: 7px !important;
    font-family: Verdana;
    line-height: 0
}

.user-info li em {
    top: -5px;
    left: -5px
}

.user-info li {
    position: relative
}

.rental-value fieldset {
    float: left;
    border-right: 1px solid #ccc;
    width: 600px;
    margin-right: 20px;
    margin-bottom: 20px
}

.rental-value .reasons {
    float: right;
    width: 250px
}

.rental-value h2 {
    margin-bottom: 10px
}

.rental-value fieldset div {
    width: 295px;
    float: left
}

.rental-value label {
    display: block;
    margin-bottom: 0.5em
}

.rental-value .reasons li {
    padding: 0 28px 0 34px;
    margin-bottom: 8px;
    background: url(../images/bg-bullet.png) 2px 3px no-repeat;
    line-height: 1.4em
}

.search h2 {
    margin-bottom: 2px
}

.search fieldset .sblock {
    float: left;
    width: 144px
}

.search fieldset .sblock label {
    position: absolute;
    top: -9999px;
    left: -999px
}

.search fieldset {
    float: left;
    width: 262px;
    border-right: 1px solid #ddd;
    min-height: 223px;
    margin-right: 17px;
    padding-right: 11px
}

.search fieldset.what {
    width: 294px;
    padding-right: 4px
}

.search fieldset.when {
    margin-right: 0;
    border-right: 0;
    padding-right: 0
}

.search label, .search h3 {
    display: block;
    color: #999;
    margin-bottom: 0.6em
}

.search fieldset input, .search fieldset select {
    margin-bottom: 0.6em
}

.search .actions {
    clear: left;
    padding: 20px 0
}

#resultsData .actions .shortlist-add {
    margin-right: 68px !important
}

#resultsData .actions .shortlisted {
    margin-right: 20px !important
}

.search .actions input {
    float: right
}

.search .date, .booking-form-sm .date, .booking-form .date {
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background: url(../images/img-date-picker.png) 0 0 no-repeat;
    position: absolute;
    top: 5px;
    right: 8px
}

.search .date-field, .booking-form-sm .date-field {
    background: url(../images/bg-form.png) 0 0 no-repeat;
    width: 225px;
    padding: 6px 30px 5px 5px;
    position: relative;
    margin-bottom: 15px
}

.booking-form .date-field {
    background: url(../images/bg-form.png) -2160px 0 no-repeat;
    width: 115px;
    padding: 8px 30px 5px 5px;
    position: relative;
    margin-bottom: 15px
}

.search .date-field input, .booking-form-sm .date-field input {
    border: 0;
    width: 200px
}

.booking-form .date-field input {
    border: 0;
    width: 109px
}

.search .date-overlay {
    position: absolute;
    display: block;
    top: 80px;
    right: 34px;
    padding: 20px;
    width: 230px;
    background: #fff
}

.search span.lg {
    width: 251px;
    padding-top: 7px
}

.compact fieldset {
    min-height: 100px
}

.compact fieldset.where {
    width: 245px
}

.compact fieldset.where .lg {
    width: 230px;
    background-position: -2310px 0
}

.compact fieldset.where .lg input {
    width: 221px
}

.compact fieldset.what {
    width: 254px
}

.compact fieldset.what .lg div, .compact fieldset.what .lg div ul {
    width: 240px
}

.compact fieldset.what .lg div p {
    background-position: -2550px 0;
    padding-top: 11px
}

.compact fieldset.what .lg select {
    width: 200px
}

.compact fieldset.when {
    width: 325px
}

.compact fieldset.when .daterange {
    float: left;
    padding-right: 8px;
    width: 158px
}

.compact fieldset.when .dropoff {
    padding-right: 0
}

.compact fieldset.when .date-field {
    width: 117px;
    background-position: -2790px 0;
    padding: 10px 33px 10px 10px
}

.compact fieldset.when .date-field input {
    width: 105px;
    margin: 0
}

.compact .actions {
    padding: 10px 0
}

.compact .date {
    top: 7px
}

.prices em {
    color: #00b5d1;
    font-weight: bold;
    width: 100px;
    display: block;
    float: left;
    text-align: right;
    margin-right: 10px
}

.caveat {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc
}

.detail-summary {
    margin-bottom: 15px
}

.detail-summary dt {
    font-weight: bold;
    float: left;
    width: 120px;
    clear: both;
    margin-bottom: 5px
}

.detail-summary dd {
    padding-bottom: 5px;
    float: right;
    width: 160px
}

#map_canvas {
    width: 280px;
    height: 280px
}

.vehicle-actions {
    margin: 20px 0 0
}

.vehicle-actions p {
    margin: 0
}

.vehicle-actions ul {
    float: right
}

.vehicle-actions li {
    float: left;
    margin-bottom: 0
}

.vehicle-actions .share {
    padding-top: 7px
}

.vehicle-actions .add-to-shortlist {
    border-right: 1px solid #ccc;
    padding-right: 15px;
    margin-right: 15px
}

#avcal {
    border: 1px solid #ddd;
    padding: 5px;
    background: #EFEEED
}

#avcal h3 {
    margin: 0;
    padding: 5px;
    background: #fff;
    color: #333;
    border: 1px solid #ddd;
    text-align: center;
    font-weight: bold;
    position: relative
}

#avcal .prev, #avcal .next {
    width: 19px;
    height: 19px;
    background: url(../images/bg-avcal-actions.png) 0 0 no-repeat;
    text-indent: -9999px;
    overflow: hidden
}

#avcal .prev {
    position: absolute;
    top: 7px;
    left: 7px
}

#avcal .next {
    background-position: 0 -19px;
    position: absolute;
    top: 7px;
    right: 7px
}

#avcal a.prev {
    background-position: 0 -38px
}

#avcal a.next {
    background-position: 0 -57px
}

#avcal table {
    border-collapse: separate;
    border-spacing: 2px
}

#avcal th {
    font-weight: bold
}

#avcal th, #avcal td {
    padding: 2px 5px;
    width: 28px;
    background: #f1f1f1
}

#avcal td {
    background: #fff;
    text-align: right;
    border: 1px solid #ddd
}

#avcal td.unavailable {
    background: #f1f1f1
}

#avcal td.selected, #avcal td:hover {
    background: #F7C347
}

#avcal td a {
    display: block
}

#avcal td.available a {
    color: #090
}

.booking-form-sm fieldset {
    background: url(../images/grad-d.png) 0 0 repeat-x;
    border: 1px solid #ddd;
    border-top-left-radius: 0;
    padding: 20px;
    clear: left
}

.booking-form-sm label {
    color: #999;
    display: block;
    margin-bottom: 0.3em
}

.booking-form-sm .btn {
    margin-left: 40px
}

.layout-c .booking-form-sm h3 {
    color: #333;
    border: 1px solid #ddd;
    padding: 10px 10px 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: 1px solid #fff;
    float: left;
    margin: 0;
    margin-top: 20px;
    position: relative;
    background: #fff;
    bottom: -1px;
    font-weight: bold
}

.bio, .availability {
    background: #dedddd url(../images/grad-d.png) 0 0 repeat-x;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 15px 0
}

.review-data {
    float: right;
    width: 145px
}

.review-data p {
    margin: 0 0 0.4em;
    width: 180px;
    color: #666
}

.user-detail .bio img {
    float: left
}

.user-detail .bio section {
    float: right;
    width: 100px
}

.user-detail .bio h3 {
    clear: both;
    padding-top: 10px
}

.reviews li {
    display: none;
    min-height: 300px;
    margin-bottom: 0
}

.review-actions {
    position: relative;
    height: 13px
}

.review-actions a {
    display: block;
    width: 70px;
    height: 13px;
    background: #fff url(../images/bg-next-prev.png) 0 0 no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.review-actions a.next {
    background-position: 100% 0;
    left: auto;
    right: 0
}

.reviews li.active {
    display: block
}

.reviews p.review {
    clear: both;
    width: auto;
    color: #666;
    margin: 10px 0 0
}

.bio h4, .review-data h4 {
    font-weight: bold;
    margin: 0 0 0.4em
}

.review-data p {
    width: auto
}

.review-data p {
    margin: 0 0 0.6em
}

.bio p.stats {
    float: right;
    width: 78px;
    text-align: right;
    line-height: 2.2em
}

.bio p.stats em {
    display: block;
    color: #00b5d1;
    font-weight: bold
}

.description {
    color: #666
}

#container .availability h3 {
    margin: 0 0 0.4em
}

.instruction {
    margin: 1em 0
}

.layout-c article.vehicle {
    color: #666
}

.layout-c article.vehicle h4 {
    font-weight: bold;
    margin: 0.6em 0 1em
}

.layout-c article.vehicle p {
    margin: 0 0 0.8em
}

.layout-c article.vehicle p.rating em {
    font-weight: normal;
    width: auto;
    padding-right: 10px
}

.layout-c article.vehicle h4 a {
    color: #666;
    display: block;
    width: 21em;
    height: 2em
}

.layout-c article.vehicle .data {
    padding: 15px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}

.layout-c article.vehicle .price p {
    margin: 0
}

.layout-c article.vehicle .price {
    padding-right: 15px;
    margin-right: 15px;
    padding-top: 8px;
    border-right: 1px solid #ddd;
    float: left;
    width: 135px;
    min-height: 75px
}

.layout-c article.vehicle .actions {
    float: right
}

.layout-c article.vehicle .actions li {
    padding-bottom: 6px;
    margin: 0
}

.layout-c article.vehicle .actions li a.shortlist {
    width: auto
}

ul.how-it-works {
    height: 232px;
    margin: 15px 0
}

ul.how-it-works li {
    display: block;
    text-indent: -9999px;
    width: 304px;
    height: 232px;
    background: url(../images/bg-how-it-works.png) 0 0 no-repeat;
    float: left
}

ul.how-it-works li.step-2 {
    background-position: -304px
}

ul.how-it-works li.step-3 {
    background-position: -608px
}

.eligibility .media {
    width: 260px;
    padding-right: 14px;
    float: left
}

.eligibility .media h1 {
    margin-bottom: 16px
}

.eligibility .critera {
    width: 585px;
    padding-left: 15px;
    margin: 10px 0;
    border-left: 1px solid #ddd;
    float: left
}

.eligibility .critera h2 {
    margin-bottom: 14px
}

.eligibility .critera ul li {
    float: left;
    width: 228px;
    padding: 0 28px 6px 34px;
    background: url(../images/bg-bullet.png) 2px 3px no-repeat;
    line-height: 1.4em
}

.why {
    margin: 25px 0
}

.why ol {
    margin-left: 20px;
    margin-top: 25px
}

.why li {
    display: block;
    width: 356px;
    border-bottom: 1px solid #f0f0f0;
    padding: 7px 0 15px 40px;
    float: left;
    background: url(../images/bg-why-numbers.png) 0 0 no-repeat;
    font-weight: bold
}

.why li.l2 {
    margin-right: 0
}

.why li.l1, .why li.l3, .why li.l5 {
    margin-right: 80px
}

.why li.l2 {
    background-position: 0 -74px
}

.why li.l3 {
    background-position: 0 -150px
}

.why li.l4 {
    background-position: 0 -223px
}

.why li.l5 {
    background-position: 0 -299px
}

.why li.l6 {
    background-position: 0 -374px
}

.how-panel {
    margin: 0;
    padding: 20px
}

.how-panel article {
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: #f1f1f1
}

.how-panel article.expandable {
    padding-left: 65px
}

.how-panel article.expandable h3 {
    position: relative;
    padding: 8px 0
}

.how-panel article.expandable h3 em {
    width: 41px;
    height: 41px;
    background: url(../images/user/bg-panel-actions.png) 0 0 no-repeat;
    position: absolute;
    top: 0;
    left: -52px;
    display: block;
    text-indent: -9999px;
    cursor: pointer
}

.how-panel article.contracted h3 em {
    background-position: 0 -41px
}

.layout-b .vehicle ul {
    margin: 0
}

.layout-b .vehicle {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px
}

.layout-b .vehicle:last-child {
    border-bottom: none;
    margin-bottom: 0
}

.layout-b .vehicle h1 {
    font-weight: bold;
    margin-bottom: 0.5em
}

.layout-b .vehicle h1 a {
    color: #666
}

.layout-b .highlight h1 a {
    color: #009246
}

.layout-b .vehicle .detail {
    width: 220px;
    float: left;
    border-right: 1px solid #ddd;
    padding-left: 50px;
    padding-right: 20px;
    position: relative;
    margin-bottom: 10px
}

.layout-b .vehicle .detail p {
    line-height: 1.7em
}

.layout-b .vehicle .detail .mapicon {
    background: url(../images/bg-icon-map-marker.png) 0 0 no-repeat;
    display: block;
    width: 32px;
    height: 35px;
    padding-top: 6px;
    position: absolute;
    top: 0;
    left: 7px;
    text-align: center;
    font-weight: bold
}

.layout-b .vehicle .promo {
    width: 150px;
    float: left
}

.layout-b .vehicle .promo .rating em {
    margin: 5px 0;
    font-weight: normal
}

.layout-b .vehicle .data {
    width: 450px;
    float: right
}

.layout-b .vehicle .price {
    width: 135px;
    float: right;
    margin-bottom: 10px
}

.vehicle .price h2 {
    margin: 5px 0 0
}

.vehicle .price h3 {
    color: #666;
    margin: 5px 0
}

.vehicle .price h2 em {
    color: #009246
}

.layout-b .vehicle .actions {
    clear: both;
    margin-bottom: 10px;
    padding-left: 50px
}

.layout-b .vehicle .actions li {
    float: right
}

.layout-b .vehicle .actions li .shortlist {
    margin-right: 58px
}

.layout-b .vehicle .thumb img {
    width: 144px;
    height: 78px;
    display: block
}

.register fieldset {
    margin-bottom: 15px
}

.user-registration .password em {
    display: block;
    width: 195px;
    font-size: 0.8em;
    font-style: italic;
    float: right;
    padding-top: 5px
}

.user-registration p.fb {
    text-align: center
}

.register .password label {
    min-height: 50px
}

label em.help {
    height: 21px;
    width: 21px;
    display: block;
    position: absolute;
    top: 6px;
    left: 137px;
    text-indent: -9999px;
    background: url(../images/bg-why.png) 0 0 no-repeat;
    cursor: pointer;
    display: none
}

.data-input h3 {
    margin-bottom: 1em
}

.data-input fieldset div {
    margin-bottom: 10px;
    padding-right: 35px;
    position: relative
}

.data-input fieldset.segment {
    border-bottom: 1px dotted #ccc
}

.data-input fieldset.attention h3 {
    color: #c00
}

.dates .sm {
    float: left;
    margin-right: 10px
}

.attention .required .sm {
    background-position: -743px 100% !important
}

.attention .required .lg {
    background-position: -795px 100% !important
}

.attention .required .sm input, .attention .required .lg input {
    background: none !important
}

.dates section {
    float: right;
    width: 200px
}

.register .data-input fieldset div {
    clear: both
}

.data-input fieldset label {
    display: block;
    float: left;
    width: auto;
    padding: 7px 7px 7px 0
}

.data-input fieldset .dates label {
    width: 150px
}

.account_details .data-input fieldset label {
    padding: 7px 7px 0 0
}

#dialog-modal .data-input fieldset .terms label {
    padding: 0
}

.data-input fieldset span {
    background: url(../images/bg-form.png) -795px 0 no-repeat;
    display: block;
    width: 190px;
    float: right;
    padding: 4px 5px
}

.register .data-input fieldset span {
    padding: 7px 5px
}

.data-input fieldset span.btn {
    background: none;
    display: block;
    width: auto;
    clear: right
}

.data-input fieldset .errors {
    clear: left
}

.data-input fieldset span .errors {
    margin: 10px -5px 0;
    color: #c00
}

.data-input fieldset span .errors li {
    margin: 0
}

.data-input fieldset .select {
    float: right;
    margin-right: 0;
    padding-right: 0
}

.data-input fieldset .select div {
    margin-right: 0;
    padding-right: 0
}

.data-input fieldset span.lg {
    padding: 3px 5px 1px
}

.data-input fieldset span input {
    width: 185px
}

#recaptcha_area {
    margin: 20px auto 0
}

.data-input .action, .data-input .terms {
    text-align: center;
    margin: 20px 0;
    font-weight: bold
}

.terms #main a {
    text-decoration: underline;
    color: #00b5d1
}

.data-input .terms label {
    font-weight: bold
}

.data-input label.select-label {
    display: block;
    text-align: right;
    width: 100%;
    margin-bottom: 10px
}

.layout-a .login .fb {
    margin: 30px auto;
    text-align: center
}

.layout-a .login fieldset p {
    float: right;
    clear: both;
    width: 237px;
    margin-bottom: 10px
}

.layout-a .login fieldset p * {
    float: left
}

.layout-a .login fieldset p a {
    text-decoration: underline;
    margin-left: 4px
}

.layout-a .login fieldset p, .layout-a .login fieldset p * {
    vertical-align: middle
}

.layout-a .login fieldset p label {
    padding: 2px 0 0 7px
}

.layout-a .login .action {
    clear: both;
    padding-top: 20px
}

.data-input > .errors {
    display: none
}

.form-errors, .errors {
    color: #c00;
    border: 1px solid;
    background: #FFF9F9;
    padding: 10px;
    margin: 15px 0
}

.form-errors {
    list-style: disc;
    padding-left: 25px !important
}

.form-errors li, .errors li {
    margin: 0 0 3px
}

.form-success a {
    text-decoration: underline
}

.form-success {
    color: #00b5d1;
    border: 1px solid;
    background: #EBF9E6;
    margin-bottom: 15px;
    padding: 15px
}

.form-success li {
    margin-bottom: 0
}

.errors {
    margin: 0 0 15px;
    clear: left
}

.user-registration fieldset div.ok, .facebook-step fieldset div.ok {
    background: url(../images/bg-form-indicators.png) 100% 5px no-repeat
}

.user-registration fieldset div.has-errors, .facebook-step fieldset div.has-errors {
    background: url(../images/bg-form-indicators.png) 100% -124px no-repeat
}

#dialog-modal {
    display: none
}

.rent-vehicle #dialog-modal {
    display: block
}

body .ui-dialog {
    background: #f7f7f7;
    padding: 10px
}

.ui-dialog-titlebar {
    display: none
}

body .ui-dialog .ui-resizable-se {
    bottom: 7px;
    right: 7px
}

#dialog-modal h3 {
    color: #666
}

#dialog-modal h3 {
    color: #666
}

#dialog-modal .why a {
    color: #666;
    background: url(../images/bg-why.png) 0 0 no-repeat;
    padding: 1px 0 5px 25px
}

#dialog-modal .data-input {
    color: #666;
    width: 400px;
    margin: auto
}

#dialog-modal .step1 .data-input {
    width: auto;
    margin: inherit
}

#dialog-modal .step1 fieldset {
    width: 400px;
    float: left
}

#dialog-modal .step1 .overlay-actions {
    clear: left
}

#dialog-modal .caveat {
    color: #666;
    border: 0
}

#dialog-modal .social-push h1 {
    width: auto
}

#dialog-modal #main {
    background: none;
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0
}

#dialog-modal .facebook-step .like-box {
    float: right;
    margin: 0;
    font-weight: bold;
    text-align: right;
    width: 280px;
    height: 90px;
    background: #fff url(../images/bg-facebook-like-box.png) 16px 16px no-repeat
}

#dialog-modal .facebook-step .like-box iframe {
    float: right
}

.facebook-step h1, .facebook-step h2 {
    margin-bottom: 1em;
    width: 230px
}

.facebook-step h3 {
    clear: both
}

#dialog-modal .facebook-step {
    width: auto
}

#dialog-modal .facebook-step fieldset {
    width: 415px;
    margin: auto
}

#dialog-modal .facebook-step .complete-registration {
    margin: auto
}

#dialog-modal .facebook-step dl {
    width: 330px;
    margin: auto;
    margin-bottom: 15px
}

#dialog-modal .facebook-step dt {
    font-weight: bold;
    float: left;
    width: 120px;
    clear: both;
    margin-bottom: 8px
}

#dialog-modal .facebook-step dd {
    padding-bottom: 8px;
    float: right;
    width: 160px
}

#dialog-modal .facebook-step .actions {
    clear: both;
    margin-left: 74px;
    margin-top: 30px;
    clear: both
}

#dialog-modal .facebook-step .actions input {
    float: left;
    margin-right: 10px
}

.booking-form h1 {
    margin: 0;
    color: #666
}

.booking-form h2 {
    margin: 0 0 20px;
    padding: 2px 0 7px 48px;
    color: #333;
    background: url(../images/bg-booking-icons.png) 5px 0 no-repeat
}

.booking-form h3 {
    margin: 0;
    margin-bottom: 10px
}

.booking-form .icon-block {
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px
}

.booking-form .icon-block .icon {
    height: 40px;
    background: url(../images/bg-booking-icons.png) 5px 0 no-repeat;
    width: 50px;
    position: absolute;
    top: 3px;
    left: 0
}

.booking-form .icon-block h2 {
    padding: 2px 0 4px;
    background: none
}

.booking-form .icon-a {
    background-position: 5px 0
}

.booking-form .icon-b {
    background-position: 5px -45px
}

.booking-form .icon-c {
    background-position: 5px -91px
}

.booking-form .icon-d {
    background-position: 5px -135px
}

.booking-form .icon-e {
    background-position: 5px -181px
}

.booking-form .icon-f {
    background-position: 5px -225px
}

.booking-form .icon-g {
    background-position: 5px -270px
}

.booking-form .icon-h {
    background-position: 5px -314px
}

.booking-form .icon-i {
    background-position: 5px -360px
}

.booking-form .panel-a, .booking-form .panel-b {
    width: 285px;
    padding-right: 15px;
    margin: 0 15px 25px 0;
    border-right: 1px solid #ccc;
    float: left;
    min-height: 596px;
    position: relative
}

.stage4 .panel-a, .stage4 .panel-b {
    min-height: 468px
}

.booking-form .panel-b {
    margin-right: 0;
    border-right: 0
}

.booking-form .panel-c {
    float: left;
    width: 605px
}

.booking-form .steps {
    margin: 10px 0 20px;
    border: 1px solid #dfdfdf;
    height: 77px;
    width: 920px;
    background: #f7f7f7 url(../images/bg-steps.png) 50% 50px no-repeat
}

.booking-form .steps li {
    float: left
}

.booking-form .steps li span {
    display: block;
    width: 150px;
    height: 67px;
    text-align: center;
    background: url(../images/bg-step-inactive.png) 50% 33px no-repeat;
    margin-right: 106px;
    color: #c7c7c7;
    padding: 10px 0 0
}

.booking-form .steps li.s4 span {
    margin-right: 0
}

.booking-form .steps li.active span {
    background: url(../images/bg-step-active.png) 50% 33px no-repeat;
    color: #333
}

.booking-form form {
    clear: both
}

.booking-form label {
    display: block
}

.booking-form p {
    line-height: 1.5em
}

.booking-form .icon-block .user-data em {
    width: 116px
}

.booking-form .user-data .total {
    font-weight: bold
}

.booking-form .user-data .total em {
    font-weight: normal
}

.booking-form .costs .total {
    padding: 20px 0;
    margin: 20px 0;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    font-weight: normal
}

.booking-form #my-details li {
    margin-bottom: 1.7em
}

.booking-form .costs em {
    text-align: right
}

.booking-form .costs .total em {
    color: #00b5d1
}

.booking-form .edit {
    position: absolute;
    bottom: 0;
    right: 20px
}

.booking-form .terms label {
    float: right;
    font-weight: bold;
    width: 220px;
    color: #333;
    line-height: 1.2em
}

.booking-form .user-confirm label {
    float: right;
    font-weight: bold;
    width: 542px;
    font-family: Arial, Helvetica, sans-serif
}

.booking-form .user-confirm label em {
    font-weight: normal
}

.booking-form .overlay-actions {
    clear: both;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
    height: 40px
}

.booking-form .overlay-actions a, .booking-form .overlay-actions input {
    float: right;
    display: block;
    margin-left: 20px;
    margin-right: 20px
}

.booking-form .errors, .booking-form .form-errors {
    border: 1px solid #c00;
    background: #FFECEC;
    color: #c00;
    padding: 10px;
    margin: 5px 0
}

.booking-form .user-checks {
    padding: 0 80px 15px 0;
    border-bottom: 1px dotted #ccc;
    margin: 25px 0;
    background: url(../images/bg-check-status.png) 100% 0 no-repeat
}

.booking-form .loading {
    background: url(../images/bg-ajax-loader.gif) 100% 0 no-repeat;
    min-height: 55px
}

.booking-form .accident-claims .wait {
    display: none
}

.booking-form .loading .data, .booking-form .accident-claims .highlight {
    display: none
}

.booking-form .failed .highlight, .booking-form .loading .wait {
    display: block
}

.booking-form .required {
    background-position: 100% -556px
}

.booking-form .failed {
    background-position: 100% -284px
}

.booking-form .user-checks h3 {
    width: 150px;
    float: left
}

.booking-form .user-checks div {
    width: 360px;
    float: right
}

.booking-form .user-checks .highlight {
    font-weight: bold
}

.booking-form .user-checks p input {
    float: right
}

.booking-form .user-checks p label {
    display: block;
    width: 325px
}

.booking-form .email {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
    width: 280px;
    overflow: hidden
}

.booking-form .form-prev {
    position: absolute;
    bottom: 0;
    right: 354px
}

.booking-form .form-next {
    position: absolute;
    bottom: 0;
    right: 34px
}

.booking-form .select-group .select {
    float: left;
    margin-right: 15px
}

.payment {
    background: url(../images/bg-payment-security.png) top right no-repeat
}

.booking-form .payment fieldset {
    padding-left: 157px
}

.payment-types {
    background: url(../images/bg-payment-types.png) 0 0 no-repeat;
    width: 280px;
    height: 60px;
    display: block;
    text-indent: -9999px;
    margin: 15px 0
}

.confirmation fieldset {
    margin-bottom: 30px
}

.booking-complete h3 {
    font-weight: bold
}

.booking-complete label {
    font-size: 1.2em
}

.stage4confirm {
    text-align: center
}

.stage4confirm iframe {
    margin: auto
}

.booking-confirmation .user-data {
    margin-left: 50px;
    margin-bottom: 20px
}

#dialog-modal .booking-confirmation .panel-a h2 {
    margin-bottom: 0
}

.booking-confirmation .user-data em {
    width: 121px
}

.booking-confirmation label {
    margin-bottom: 5px;
    margin-top: 10px
}

.booking-confirmation form {
    border-top: 1px dotted #ccc;
    padding-top: 15px;
    margin-top: 15px
}

.booking-confirmation span.lg {
    margin-bottom: 15px
}

.booking-confirmation .message-action {
    padding-top: 20px;
    clear: both;
    text-align: right
}

.booking-confirmation .overlay-actions a {
    margin-right: 0
}

.booking-form .data-input fieldset {
    width: 460px;
    margin: auto
}

.rental-checks .unconfirmed, .rental-checks .confirmed, .rental-checks .failed {
    padding: 8px 80px 12px 0;
    background: url(../images/bg-check-status.png) 100% 0 no-repeat;
    color: #555
}

.rental-checks .unconfirmed {
    background-position: 100% 100%
}

.rental-checks .failed {
    background-position: 100% 50%
}

.rental-checks .highlight {
    color: #222
}

.rental-checks .highlight a {
    text-decoration: underline;
    font-weight: bold
}

.rental-checks .highlight .checkboxes label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 30px
}

.rental-checks .highlight .checkboxes li {
    padding-left: 100px;
    padding-right: 100px
}

.rental-checks .highlight .checkboxes input {
    float: left
}

.rental-checks h3.loading {
    padding-top: 15px;
    min-height: 40px
}

.rental-checks .licence-status, .rental-checks .claims-history {
    padding: 0 10px;
    color: #333
}

.rental-checks .claims-history {
    width: 530px
}

.rental-checks .licence-status ul.items, .rental-checks .claims-history ul.items {
    margin-top: 30px;
    margin-bottom: 30px
}

.rental-checks .licence-status .items li, .rental-checks .claims-history .items li {
    float: left;
    width: 150px;
    margin-right: 25px
}

.rental-checks .claim {
    margin-bottom: 20px
}

.rental-checks .claim h4 {
    padding-top: 6px;
    font-size: 1.2em;
    width: 60px
}

.rental-checks .claim h4, .rental-checks .claim div.select {
    float: left;
    margin: 0 20px 0 0
}

.rental-checks .cal-confirm {
    float: right
}

.rental-checks .confirm-statement {
    width: 365px
}

.rental-checks .notification {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px 10px 0
}

.rent-vehicle .booking-form .panel-a, .rent-vehicle .booking-form .panel-b {
    margin: 0px 12px 25px 0 !important;
    padding-right: 8px !important
}

.rent-vehicle .booking-form {
    position: relative
}

.home #main {
    background: #fff url(../images/bg-home-master.jpg) 50% 50% no-repeat
}

.home #main .feature {
    position: absolute;
    width: 260px;
    height: 140px;
    top: 230px;
    right: 285px;
    background: url(../images/bg-homepage-feature.png) 0 0 no-repeat;
    text-indent: -9999px
}

.home #main .jake {
    width: 229px;
    height: 119px;
    top: 160px;
    right: 12px;
    background-position: 0 -151px
}

.home #main .jim {
    width: 195px;
    height: 104px;
    top: 45px;
    right: 318px;
    background-position: 0 -291px
}

.home #main .julie {
    width: 134px;
    height: 72px;
    top: 20px;
    right: 90px;
    background-position: 0 -409px
}

.home #main .user {
    width: 72px;
    height: 102px;
    top: 123px;
    right: 253px;
    background-position: 100% 100%
}

#supporting .banner {
    display: block;
    border: 1px solid #ddd;
    background: #fff;
    background: #fafafa url(../images/bg-banner.png) bottom left repeat-x;
    position: relative
}

#supporting .banner .find-out-more {
    margin-right: 80px
}

.banner h1 {
    height: 59px;
    padding: 11px 15px 19px 95px;
    margin: 0
}

.banner span, .banner a {
    position: absolute;
    bottom: 14px;
    right: 30px
}

.rent-out {
    float: left;
    width: 390px;
    margin-right: 19px
}

.rent-out h1 {
    background: url(../images/icon-lg-rent-out.png) 25px 15px no-repeat
}

.rent {
    float: left;
    width: 546px
}

.rent h1 {
    background: url(../images/icon-lg-rent.png) 25px 15px no-repeat
}

.banner .fb {
    position: absolute;
    bottom: 11px;
    left: 95px;
    margin: 0
}

.banner .fb a {
    position: relative;
    bottom: 0;
    right: 0
}

.home form.mform {
    background: #dedddd url(../images/bg-home-form.png) 0 0 repeat-x;
    border: 1px solid #ddd;
    height: 320px;
    width: 320px;
    padding: 20px
}

#master-form h1 {
    margin-bottom: 20px;
    color: #666
}

#master-form label.mform {
    display: block;
    margin-bottom: 10px;
    color: #333
}

#master-form fieldset {
    margin-bottom: 20px
}

#master-form span.mform {
    width: 140px;
    height: 18px;
    background: url(../images/bg-form.png) -2160px 0 no-repeat;
    float: left
}

#master-form .date {
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background: url(../images/img-date-picker.png) 0 0 no-repeat;
    position: absolute;
    top: 5px;
    right: 8px
}

#master-form span.first {
    margin-right: 20px
}

#master-form span.mform input {
    width: 99px
}

#master-form span.lg {
    display: block;
    width: 208px;
    height: 29px;
    background: url(../images/bg-form.png) -1941px 0 no-repeat;
    padding-top: 3px
}

#master-form span.lg input {
    width: 200px
}

#when-datepicker {
    float: right
}

.date-overlay {
    position: relative;
    padding-top: 30px;
    display: none
}

.date-overlay p {
    position: relative;
    top: 7px;
    font-weight: bold;
    float: left
}

.date-overlay .close {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background: url(../images/bg-close.png) 0 0 no-repeat;
    text-indent: -9999px
}

footer {
    background: #fff;
    border-top: 1px solid #E0E0E0;
    margin-top: 70px;
    min-height: 260px;
    clear: both
}

footer div {
    position: relative
}

footer h2 {
    color: #00b5d1
}

footer .branding {
    position: absolute;
    top: -40px;
    right: 0
}

footer #sitemap {
    border-right: 1px solid #f1f1f1;
    float: left;
    width: 290px;
    margin-top: 20px;
    margin-right: 20px
}

footer #sitemap li {
    float: left;
    width: 140px;
    margin-bottom: 0.5em
}

footer #sitemap a {
    color: #6D6E70
}

footer #social {
    border-right: 1px solid #f1f1f1;
    float: left;
    width: 250px;
    margin-top: 20px;
    margin-right: 20px
}

#social li, #social li a {
    float: left
}

#social li a {
    display: block;
    width: 37px;
    height: 37px;
    text-indent: -9999px;
    background: url(../images/bg-socials.png) 0 0 no-repeat;
    margin-right: 10px
}

#social li a.tw {
    background-position: -48px 0
}

#social li a.li {
    background-position: -96px 0
}

#social li a.go {
    background-position: -145px 0
}

#social li a.yt {
    background-position: -194px 0
}

footer .copy {
    float: right;
    margin: 140px 36px 0 0;
    color: #6D6E70
}

#dialog-modal .facebook-step .form-errors {
    margin-top: 0
}

form.facebook-step {
    height: inherit
}

::-moz-selection {
    background: #5E81BC;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #5E81BC;
    color: #fff;
    text-shadow: none
}

.datetimepicker form:after, .highlight:after, .rental-checks .claim:after, .panel-a .actions:after, #vehicle-detail .thumbs:after, ul:after, footer:after, footer #sitemap:after, #supporting:after, #master-form fieldset:after, .date:after, .time:after, #main:after, .layout-a:after, .layout-b:after, .layout-c:after, .layout-d:after, .layout-e:after, .panel:after, .actions:after, .pager:after, article.vehicle:after, .layout-b .vehicle .actions:after, .search:after, .vehicle-actions:after, .rating:after, .reviews li:after, .layout-c article.vehicle .data:after, .vehicle .actions li:after, .data-input div:after, .booking-form .steps:after, .user-data li:after, .booking-form .terms:after, .booking-form .user-checks:after, .booking-form .select-group:after, form:after, .price-matrix:after, #resultsData:after, .detail-summary:after, #dialog-modal .facebook-step dl:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden
}

#resultsData {
    position: relative;
    margin-bottom: 20px;
    min-height: 300px
}

.w3c {
    display: none !important
}

.hidden {
    position: absolute;
    left: -9999px;
    top: -9999px
}

.empty {
    margin-top: 1em
}

.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px
}

#ui-datepicker-div {
    padding: 10px
}

.ui-timepicker-div dl {
    text-align: left
}

.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px
}

.ui-timepicker-div td {
    font-size: 90%
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0
}

.stButton .sharethis {
    background-image: url(../images/bg-share-icon.png) !important
}

#map {
    height: 300px;
    width: 100%
}

.user-shortlist {
    margin-top: 20px
}

#avcal-display {
    display: none
}

.contact-us fieldset {
    margin-top: 20px;
    width: 300px;
    float: left
}

.contact-us fieldset.full {
    width: auto;
    float: none;
    clear: both
}

.contact-us fieldset label, .contact-us fieldset span, .contact-us fieldset div.select {
    float: none
}

.contact-us fieldset span.lg {
    padding: 4px 5px
}

.contact-us fieldset span.sm {
    margin-bottom: 10px
}

.contact-us fieldset span.lg input {
    width: 180px
}

.contact-us fieldset .ta {
    margin-bottom: 20px
}

.charsRemaining {
    clear: left;
    margin: 0;
    padding-left: 6px
}

#resultCount {
    float: left;
    padding-top: 5px
}

#filter, #filter2 {
    float: left;
    margin-left: 40px;
    width: 275px
}

#filter .select, #filter2 .select {
    float: right
}

#filterLabel, #filterLabel2 {
    float: left;
    display: block;
    padding-top: 5px
}

.security-number {
    padding-top: 10px
}

.security-number label {
    float: left;
    padding-top: 9px;
    font-weight: bold
}

.security-number span.sm {
    padding: 5px 5px 3px !important
}

.availability-search_index #main, .availability-search_view-shortlist #main {
    min-height: 400px
}

.where .sort, .where .distance {
    display: none
}

.vehicle-actions .back {
    position: relative;
    top: 5px;
    font-weight: bold;
    float: left
}

.availability-search_vehicle h2 {
    margin-bottom: 0.8em
}

.rent-out-your-car-home .form-errors {
    margin-top: 0
}

.eligibility .critera h2 {
    color: #666
}

.reset-password label {
    margin-bottom: 10px;
    display: block;
    font-weight: bold
}

.layout-a .reset-password {
    padding: 10px 20px
}

.rent-out-your-car-home .standalone {
    margin-top: 32px
}

.disconnect-facebook .actions {
    clear: both;
    padding: 10px 0
}

.jsOnly {
    display: none
}

.availableTimes {
    height: 10px;
    margin: 0;
    padding-top: 10px;
    display: none;
    font-style: italic;
    color: #00b5d1;
    font-weight: bold
}

#password-strength {
    width: 130px;
    margin-left: 165px
}

#password-strength-label {
    margin: 0
}

#graybar {
    display: block;
    width: 130px;
    height: 11px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 0
}

#colourbar {
    background-color: #393;
    height: 11px;
    padding: 0;
    display: block;
    margin-top: -13px;
    border: 1px solid #ccc;
    width: 0
}

.welcome-rentacar .btn-search {
    position: relative;
    top: -2px;
    left: 5px
}

.standalone {
    margin-top: 32px
}

.cc li {
    font-weight: bold;
    margin-bottom: 5px;
    background: url(../images/img-icon-form-ok.png) 0 10% no-repeat;
    padding: 3px 0 5px 27px;
    float: left;
    width: 113px;
    min-height: 30px
}

@media print {
    * {
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important
    }

    a, a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    abbr[title]:after {
        content: " (" attr(title) ")"
    }

    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: ""
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    tr, img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    @page {
        margin: 0.5cm
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3
    }

    h2, h3 {
        page-break-after: avoid
    }

    .w3c, .accessibility {
        display: none
    }
}

#jquery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 500px
}

#jquery-lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    line-height: 0
}

#jquery-lightbox a img {
    border: none
}

#lightbox-container-image-box {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 250px;
    margin: 0 auto
}

#lightbox-container-image {
    padding: 10px
}

#lightbox-loading {
    position: absolute;
    top: 40%;
    left: 0%;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0
}

#lightbox-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}

#lightbox-container-image-box > #lightbox-nav {
    left: 0
}

#lightbox-nav a {
    outline: none
}

#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
    width: 49%;
    height: 100%;
    zoom: 1;
    display: block
}

#lightbox-nav-btnPrev {
    left: 0;
    float: left
}

#lightbox-nav-btnNext {
    right: 0;
    float: right
}

#lightbox-container-image-data-box {
    font: 10px Verdana, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0 auto;
    line-height: 1.4em;
    overflow: auto;
    width: 100%;
    padding: 0 10px 0
}

#lightbox-container-image-data {
    padding: 0 10px;
    color: #666
}

#lightbox-container-image-data #lightbox-image-details {
    width: 70%;
    float: left;
    text-align: left
}

#lightbox-image-details-caption {
    font-weight: bold
}

#lightbox-image-details-currentNumber {
    display: block;
    clear: left;
    padding-bottom: 1.0em
}

#lightbox-secNav-btnClose {
    width: 66px
}

#lightbox-secNav {
    padding-bottom: 8px;
    text-align: right
}

#loading {
    z-index: 9999;
    padding-top: 40px;
    text-align: center;
    border: 1px solid #666;
    width: 200px;
    height: 160px;
    background: #fff url(../images/bg-ajax-loader.gif) 50% 50% no-repeat;
    margin: 50px auto
}

#dashboard #rent-your-car, #dashboard #rent-a-car {
    width: 475px;
    height: 300px;
    margin-bottom: 30px
}

.helper {
    background: url(../images/bg-help.png) 0 0 no-repeat;
    padding-left: 55px
}

#dialog-modal .close {
    background: url(../images/bg-close.png) 0 0 no-repeat;
    height: 20px;
    width: 20px;
    text-indent: -9999px;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 9999
}

.helper h2 {
    margin-bottom: 15px
}

body td.available .ui-state-default {
    background: #96cb54 url("../images/bg-cal-available.png") repeat-x scroll 50% 50%;
    border: 1px solid #38BCCF
}

body td.ui-state-disabled .ui-state-default {
    background: #cecece url("../images/bg-cal-unavailable.png") repeat-x scroll 50% 50%;
    border: 1px solid #f0f0f0
}

body td.available .ui-state-active {
    background: #00b5d1 url("../images/bg-cal-active.png") repeat-x scroll 50% 50%;
    border: 1px solid #00b5d1;
    color: #fff
}

body .ui-widget-content button.ui-state-default {
    background: #cecece url("../images/bg-cal-available.png") repeat-x scroll 50% 50%;
    border: 1px solid #38BCCF;
    opacity: 1;
    color: #000
}

body .ui-widget-content button.ui-priority-primary {
    background: #cecece url("../images/bg-cal-highlight.png") repeat-x scroll 50% 50%;
    border: 1px solid #F5AD07;
    opacity: 1;
    color: #000
}

#warningPanel.inpage {
    padding: 20px;
    background: #ECEBEA;
    margin-bottom: 20px;
    z-index: 999;
    position: relative
}

#warningPanel p {
    color: #666
}

#warningPanel h2 {
    color: #009246;
    margin: 15px 0
}

#infoPanel {
    background: url(../images/bg-info-top.png) 0 0 no-repeat;
    width: 922px;
    margin-bottom: 20px;
    z-index: 999;
    position: relative
}

#infoPanel div {
    background: url(../images/bg-info-base.png) bottom left no-repeat;
    min-height: 60px;
    padding: 13px 40px 13px 85px;
    vertical-align: middle
}

#infoPanel span {
    display: block;
    width: 61px;
    height: 61px;
    text-indent: -9999px;
    background: url(../images/bg-info.png) 0 0 no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 13px
}

#infoPanel h3 {
    color: #8BC53F
}

.inactive {
    cursor: default !important
}

.reset-password #password-strength {
    margin-left: 0;
    margin-bottom: 20px
}

.serviceOption {
    top: 9px;
    position: relative
}

.panel-a .actions .button {
    float: left;
    margin-right: 10px
}

.terms a {
    text-decoration: underline
}

.compact .actions .btn-search {
    float: right
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    nav.inpage ul li.last a {
        padding: 16px 29px 16px 29px
    }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    nav.inpage ul li.last a {
        padding: 16px 29px 16px 29px
    }
}

.button {
    background-image: url(../images/bg-button.png);
    background-repeat: no-repeat;
    display: block;
    width: 280px;
    height: 40px;
    text-indent: -9999px
}

#master-form fieldset.mform .button {
    width: 102px;
    height: 36px;
    float: left
}

#master-form fieldset.mform .button:hover {
    background-position: 100% 0
}

.find-out-more {
    width: 126px;
    height: 26px;
    background-position: 0 -761px
}

.find-out-more:hover {
    background-position: 100% -761px
}

.standard-register {
    width: 190px;
    height: 26px;
    background-position: 0 -314px
}

.standard-register:hover {
    background-position: 100% -314px
}

.btn-search {
    width: 178px;
    background-position: 0 -201px
}

.btn-search:hover {
    background-position: 100% -201px
}

.shortlist-lg {
    width: 139px;
    height: 41px;
    background-position: 0 -1318px
}

.shortlist-lg:hover {
    background-position: 100% -1318px
}

.rent-this {
    width: 94px;
    height: 30px;
    background-position: 0 -242px
}

.rent-this:hover {
    background-position: 100% -242px
}

.view-details {
    margin-right: 10px;
    width: 94px;
    height: 30px;
    background-position: 0 -911px
}

.view-details:hover {
    background-position: 100% -911px
}

.shortlist-sm {
    width: 78px;
    height: 28px;
    background-position: 0 -1260px
}

.shortlist-sm:hover {
    background-position: 100% -1260px
}

.shortlist-add {
    width: 134px;
    height: 28px;
    background-position: 0 -1289px
}

.shortlist-add:hover {
    background-position: 100% -1289px
}

.book-now {
    width: 178px;
    background-position: 0 -273px
}

.book-now:hover {
    background-position: 100% -273px
}

.remove-vehicle {
    width: 124px;
    margin-right: 10px;
    height: 30px;
    background-position: 0 -1423px
}

.remove-vehicle:hover {
    background-position: 100% -1423px
}

.show-rental-value {
    width: 258px;
    background-position: 0 -586px
}

.show-rental-value:hover {
    background-position: 100% -586px
}

.confirm-listing {
    width: 380px;
    background-position: 0 -627px
}

.confirm-listing:hover {
    background-position: 100% -627px
}

.confirm-listing-sm {
    width: 310px;
    height: 30px;
    background-position: 0 -2838px
}

.confirm-listing-sm:hover {
    background-position: 100% -2838px
}

#container .find-occupation, #dialog-modal .find-occupation {
    width: 126px;
    height: 25px;
    background-position: 0 -1360px
}

#container .find-occupation:hover, #dialog-modal .find-occupation:hover {
    background-position: 100% -1360px
}

#container .address-lookup, #dialog-modal .address-lookup {
    width: 126px;
    height: 25px;
    background-position: 0 -787px
}

#container .address-lookup:hover, #dialog-modal .address-lookup:hover {
    background-position: 100% -787px
}

#container .sign-me-up {
    margin: auto;
    width: 178px;
    background-position: 0 -78px
}

#container .sign-me-up:hover {
    background-position: 100% -78px
}

#container .log-me-in {
    margin: auto;
    width: 178px;
    background-position: 0 -37px
}

#container .log-me-in:hover {
    background-position: 100% -37px
}

.edit-details {
    margin: auto;
    width: 126px;
    height: 25px;
    background-position: 0 -735px
}

.edit-details:hover {
    background-position: 100% -735px
}

.edit-details-lg {
    width: 228px;
    background-position: 0 -839px
}

.edit-details-lg:hover {
    background-position: 100% -839px
}

.confirm-details-lg {
    width: 228px;
    background-position: 0 -160px
}

.confirm-details-lg:hover {
    background-position: 100% -160px
}

.continue-step-2 {
    background-position: 0 -340px
}

.continue-step-2:hover {
    background-position: 100% -340px
}

.continue-step-3 {
    background-position: 0 -381px
}

.continue-step-3:hover {
    background-position: 100% -381px
}

.continue-step-4 {
    background-position: 0 -422px
}

.continue-step-4:hover {
    background-position: 100% -422px
}

.confirm {
    background-position: 0 -463px
}

.confirm:hover {
    background-position: 100% -463px
}

.back-car-details {
    background-position: 0 -2540px
}

.back-car-details:hover {
    background-position: 100% -2540px
}

.back-search-results {
    background-position: 0 -973px
}

.back-search-results:hover {
    background-position: 100% -973px
}

.back-step-1 {
    background-position: 0 -1014px
}

.back-step-1:hover {
    background-position: 100% -1014px
}

.back-step-2 {
    background-position: 0 -1055px
}

.back-step-2:hover {
    background-position: 100% -1055px
}

.back-step-3 {
    background-position: 0 -1096px
}

.back-step-3:hover {
    background-position: 100% -1096px
}

.back-to-confirmation {
    background-position: 0 -1178px
}

.back-to-confirmation:hover {
    background-position: 100% -1178px
}

.change-card {
    width: 126px;
    height: 25px;
    background-position: 0 -813px
}

.change-card:hover {
    background-position: 100% -813px
}

.save-changes {
    background-position: 0 -668px
}

.save-changes:hover {
    background-position: 100% -668px
}

.cancel-changes {
    background-position: 0 -1219px
}

.cancel-changes:hover {
    background-position: 100% -1219px
}

.send-message {
    width: 126px;
    height: 25px;
    background-position: 0 -709px
}

.send-message:hover {
    background-position: 100% -709px
}

.my-account {
    background-position: 0 -545px
}

.my-account:hover {
    background-position: 100% -545px
}

.back-to-car-details {
    background-position: 0 -973px
}

.back-to-car-details:hover {
    background-position: 100% -973px
}

.change-email {
    width: 160px;
    height: 30px;
    background-position: 0 -942px
}

.change-email:hover {
    background-position: 100% -942px
}

.change-password {
    width: 140px;
    height: 30px;
    background-position: 0 -1454px
}

.change-password:hover {
    background-position: 100% -1454px
}

.save-progress {
    width: 126px;
    height: 25px;
    background-position: 0 -1639px
}

.save-progress:hover {
    background-position: 100% -1639px
}

.upload-photo {
    width: 198px;
    background-position: 0 -1814px
}

.upload-photo:hover {
    background-position: 100% -1814px
}

.open-calendar {
    width: 126px;
    height: 25px;
    background-position: 0 -1855px
}

.open-calendar:hover {
    background-position: 100% -1855px
}

.reset-to-recommended {
    width: 120px;
    height: 25px;
    background-position: 0 -1665px
}

.reset-to-recommended:hover {
    background-position: 100% -1665px
}

.delete-car {
    width: 164px;
    background-position: 0 -1691px
}

.delete-car:hover {
    background-position: 100% -1691px
}

.save-and-preview {
    width: 164px;
    background-position: 0 -1732px
}

.save-and-preview:hover {
    background-position: 100% -1732px
}

.save-changes-sm {
    width: 198px;
    background-position: 0 -1773px
}

.save-changes-sm:hover {
    background-position: 100% -1773px
}

.publish {
    width: 198px;
    background-position: 0 -1773px
}

.publish:hover {
    background-position: 100% -1773px
}

.publish-car {
    width: 228px;
    background-position: 0 -2895px
}

.publish-car:hover {
    background-position: 100% -2895px
}

.compose-message {
    width: 228px;
    background-position: 0 -1557px
}

.compose-message:hover {
    background-position: 100% -1557px
}

.bin-selection {
    width: 168px;
    background-position: 0 -1598px
}

.bin-selection:hover {
    background-position: 100% -1598px
}

.deliver-message {
    width: 198px;
    background-position: 0 -1922px
}

.deliver-message:hover {
    background-position: 100% -1922px
}

.save-draft {
    width: 228px;
    background-position: 0 -1881px
}

.save-draft:hover {
    background-position: 100% -1881px
}

.cancel {
    width: 280px;
    background-position: 0 -1963px
}

.cancel:hover {
    background-position: 100% -1963px
}

.update-plate {
    width: 186px;
    height: 25px;
    background-position: 0 -2004px
}

.update-plate:hover {
    background-position: 100% -2004px
}

.unlink-facebook {
    width: 160px;
    height: 30px;
    background-position: 0 -2030px
}

.unlink-facebook:hover {
    background-position: 100% -2030px
}

.return-to-bookings {
    background-position: 0 -2061px
}

.return-to-bookings:hover {
    background-position: 100% -2061px
}

.unpublish-car {
    width: 228px;
    background-position: 0 -2143px
}

.unpublish-car:hover {
    background-position: 100% -2143px
}

.remove-car {
    width: 263px;
    background-position: 0 -2102px
}

.remove-car:hover {
    background-position: 100% -2102px
}

.complete-registration {
    width: 228px;
    background-position: 0 -2184px
}

.complete-registration:hover {
    background-position: 100% -2184px
}

.delete-account {
    width: 228px;
    background-position: 0 -2225px
}

.delete-account:hover {
    background-position: 100% -2225px
}

.shortlisted {
    width: 181px;
    height: 28px;
    background-position: 0 -2266px
}

.shortlisted:hover {
    background-position: 100% -2266px
}

.shortlisted-sm {
    width: 144px;
    height: 27px;
    background-position: 0 -2977px
}

.shortlisted-sm:hover {
    background-position: 100% -2977px
}

.cancel-disconnect {
    width: 178px;
    background-position: 0 -2294px;
    float: right
}

.cancel-disconnect:hover {
    background-position: 100% -2294px
}

.confirm-disconnect {
    width: 178px;
    background-position: 0 -2335px
}

.confirm-disconnect:hover {
    background-position: 100% -2335px
}

.print-rental {
    width: 290px;
    background-position: 0 -1137px
}

.print-rental:hover {
    background-position: 100% -1137px
}

.decline-rental {
    width: 280px;
    background-position: 0 -2376px
}

.decline-rental:hover {
    background-position: 100% -2376px
}

.cancel-rental {
    width: 280px;
    background-position: 0 -2417px
}

.cancel-rental:hover {
    background-position: 100% -2417px
}

.confirm-booking {
    width: 280px;
    background-position: 0 -2458px
}

.confirm-booking:hover {
    background-position: 100% -2458px
}

.write-review {
    width: 280px;
    background-position: 0 -2499px
}

.write-review:hover {
    background-position: 100% -2499px
}

.send {
    width: 198px;
    background-position: 0 -2581px
}

.send:hover {
    background-position: 100% -2581px
}

.dash-value {
    width: 198px;
    background-position: 0 -2622px
}

.dash-value:hover {
    background-position: 100% -2622px
}

.dash-search {
    width: 198px;
    background-position: 0 -2663px
}

.dash-search:hover {
    background-position: 100% -2663px
}

.view-my-car {
    width: 198px;
    background-position: 0 -2704px
}

.view-my-car:hover {
    background-position: 100% -2704px
}

#changeAddress {
    width: 186px;
    height: 25px;
    background-position: 0 -2745px
}

#changeAddress:hover {
    background-position: 100% -2745px
}

#addAddress {
    width: 186px;
    height: 25px;
    background-position: 0 -2869px
}

#addAddress:hover {
    background-position: 100% -2869px
}

#cancelChange {
    width: 186px;
    height: 25px;
    background-position: 0 -2771px
}

#cancelChange:hover {
    background-position: 100% -2771px
}

.overlayclose {
    width: 120px;
    background-position: 0 -2797px
}

.overlayclose:hover {
    background-position: 100% -2797px
}

.back-to-rentals {
    width: 280px;
    height: 40px;
    background-position: 0 -2936px
}

.back-to-rentals:hover {
    background-position: 100% -2936px
}

.submit-review {
    background-position: 0 -3008px
}

.submit-review:hover {
    background-position: 100% -3008px
}

.cal-confirm {
    width: 91px !important;
    height: 25px;
    background-position: 0 -3049px
}

.cal-confirm:hover {
    background-position: 100% -3049px
}

.cal-cancel {
    width: 84px !important;
    height: 25px;
    background-position: 0 -3075px
}

.cal-cancel:hover {
    background-position: 100% -3075px
}

.jsOnly {
    display: none
}

.datetimepicker {
    width: 232px;
    background: #fff;
    border: 1px solid #999 !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    display: none;
    position: absolute;
    z-index: 9999
}

.datetimepicker form {
    padding: 10px 0 0;
    box-shadow: none !important
}

.datetimepicker form * {
    float: left
}

.datetimepicker form span {
    display: block;
    padding: 5px 2px
}

.datetimepicker form label {
    display: block;
    padding: 7px 7px 0;
    font-weight: bold !important;
    color: #333 !important;
    font-size: 12px !important
}

.datetimepicker form select {
    width: auto !important
}

.datetimepicker .cal-actions {
    margin: 10px 0 0;
    width: 230px
}

.datetimepicker .cal-actions .cal-confirm {
    float: right
}

#validation-required {
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    padding: 20px;
    margin-top: 30px
}

#validation-required h2 {
    background-position: 0 -45px;
    color: #00b5d1
}

#validation-required p {
    font-size: 12px !important
}

#validation-required p em {
    font-weight: bold;
    color: #00b5d1
}
